@import '../../../CSS/variables.scss';
@import '../../../CSS/mixins.scss';


#CenterPanelMain-innerCt{


    background-color:$colBg !important;
}
// FIX PARA OCULTAR EL TOOLBAR DEFAULT DEL GESTOR DE DOCUMENTOS ( PREVISUALIZADOR DOCS)
#PanelVisorMain-body {
    margin-top: - 32px !important;
}
/*#region PANEL LATERAL DERECHO */
/*#region PANEL VERSIONES ASIDE */
#headAsR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

#tlbNotifications, #tlbNotes {
    background-color: $blanco;
}


#lblHeadNotes {
    position: absolute;
    left: 0;
    top: 5px;
}

#lblHeadNotif, #lblHeadNotes {
    //display: block;
    font-weight: 700;
    color: $colPpal;
}

#btnNotes {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 99;
}

#btnNotes, #btnNotif {
    @include bgBtn-ico;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: lighten($Gris2, 02);

    &.x-btn-default-small {
        border-color: rgba(0,0,0,0);
    }

    &:hover {
        background-color: darken($Gris2, 03);
    }
}

#pnNotifications, #pnNotes, #pnAlerts {
    margin-top: 1.5rem;
}

#tlbNotifications-targetEl, #tlbNotes-targetEl, #tlbNotifications2-targetEl {
    padding-right: .7rem;
}

#ctnLnkNotif.x-box-item, #ctnLnkNotes.x-box-item {
    position: static !important;
}

#ctnLnkNotif2.x-box-item, #ctnLnkNotes.x-box-item {
    position: static !important;
}

#ctnLnkNotif, #ctnLnkNotif2, #ctnLnkNotes {
    float: right;
}

.lnkNot {
    font-size: 11px;
    color: $Gris4;

    &:hover {
        color: darken($Gris4, 10);
    }
}

#lnkNoChecked, #lnkNoNoteChecked, #lnkNoChecked2, #lnkNoNoteChecked2 {
    margin-right: .5rem;
}


#addNotific, #addNote {

    .x-btn-inner-default-toolbar-small {
        color: $blanco;
    }
}

#addNotific2, #addNote {

    .x-btn-inner-default-toolbar-small {
        color: $blanco;
    }
}

#ulNotif, #ulNote {
    width: 100%;
    padding: 0;
    //height: 100vh;
}


.btnEdit-item {
    display: none;
}

.grdPnColIcons {
    @include grdPnColIcons;
}

.grdIntoAside {
    @include gridIntoAside;
}


.x-keyboard-mode .x-btn-focus.x-btn-default-small { // color navegación teclado default
    border-color: darken( $Gris1, 10) !important;
    background-color: darken( $Gris1, 10) !important;
}

.liNot {
    display: flex;
    justify-content: flex-start;
    background-color: $blanco;
    padding: .8rem;
    border-radius: 3px;
    align-items: center;
    margin-bottom: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
    border-style: solid;
    border-width: 1px;
    border-color: $Gris1;



    &:hover {
        .btnEdit-item {
            display: block;
        }
    }
}


.chkNot {
    flex: 0 0 15%;
    margin-right: .8rem;
}

.cntNot {
    flex: 1 0 70%;
    margin-right: .8rem;
}

.btnEdit {
    flex: 0 0 15%;
}

.titNot {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: $GrisNegro;
    margin-bottom: .4rem;
}

.txtNot {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: $GrisNegro;
    margin-bottom: .4rem;
    height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dateNot {
    position: relative;
    display: block;
    font-size: 11px;
    font-weight: 400;
    color: $colSec;
    margin-left: 12px;
}

.dateNot:after {
    position: absolute;
    content: url('../../../ima/ico-calendar-min.svg');
    left: -12px;
    top: 1px;
}

.btnEdit-item {
    width: 32px;
    @include bgBtn-ico;
    @include btn-transp;
    background-image: url('../../../ima/ico-edit-item.svg') !important;
    background-size: 16px;
    border-radius: 50%;

    &:hover {
        background-image: url('../../../ima/ico-edit-item.svg');
        background-color: $Gris1;
    }
}

/*#endregion */


.grdPanelVersionesOld 

.ctAsideR {
    margin-top: 1rem;
}

#ctAsideR-innerCt {
    display: flex;
    justify-content: flex-start;
    background-color: $colBg !important;
}

#mnAsideR {
    flex: 0 0 40px;
    border-right: 1px solid $Gris1 !important;
}

#mnAsideR-innerCt {
    height: 100vh;
}

#pnGridsAsideR {
    flex: 1 1 90%;
    height: 100vh;

    #pnGridsAsideR-innerCt {
        height: 100vh;
    }
}

.tlbGrdAsR {
    margin-top: 1rem;
    padding-left: .5rem;
}

.lblRecordName {
    display: block;
    background-color: $Gris1;
    font-size: 11px;
    color: $GrisNegro;
    text-transform: uppercase;
    padding: .5rem .5rem .5rem 1.6rem;
    height: 2rem;
    position: relative;

    &:before {
        content: '';
        display: block;
        height: 1rem;
        border-left: 4px solid $GrisNegro;
        position: absolute;
        left: 1rem;
        top: 8px;
    }
}

.grdIntoAside {
    @include gridIntoAside;
}



.ctAsideR {
    margin-top: 1rem;
}

#ctAsideR-innerCt {
    display: flex;
    justify-content: flex-start;
}

#mnAsideR {
    flex: 0 0 40px;
    border-right: 1px solid $Gris1 !important;
}

#mnAsideR-innerCt {
    height: 100vh;
}

#pnGridsAsideR, {
    flex: 1 1 90%;
    //height: 100vh;
    #pnGridsAsideR-innerCt, {
        //height: 100vh;
    }
}

.tlbGrdAsR {
    margin-top: 1rem;
    padding-left: .5rem;
}


#frmEditNot {
    //position: absolute !important;
    //top: 2.6rem;
    //z-index: 999;
    //width: 99%;
    //margin: 0 auto;
    //border-radius: 5px;
    //box-shadow: 1px 2px 8px $Gris3;
    .x-panel-body {
        background-color: $blanco;
    }
}

#frmEditAlert {
    //position: absolute !important;
    //top: 2.6rem;
    //z-index: 999;
    //width: 99%;
    //margin: 0 auto;
    //border-radius: 5px;
    //box-shadow: 1px 2px 8px $Gris3;
    .x-panel-body {
        background-color: $blanco;
    }
}

#pnCFiltersContainer, #pnMFiltersContainer {
    margin-left: .7rem;
    margin-right: 2rem;
    margin-top: 1.5rem;

    .btn-add {
        @include baseBoton($colPpal, 14px, $blanco);
        margin-left: .5rem;
    }
}

.btn-end {
    @include baseBoton($colPpal, 14px, $blanco);
    float: right;
    margin-left: .5rem;
}

.btn-save {
    background-color: $blanco;
    border: 1px solid $Verde2;
    border-radius: 3px;
    float: right;
    margin-left: .5rem;

    .x-btn-inner-default-small {
        font-size: 14px;
        color: $colPpal;
    }

    &:hover {
        background-color: $Verde2;
        Border: 1px solid $Verde2;
    }
}
//CONTENT
.chk-ctoTrck {
    padding: 0 0rem;
    border: 1px solid $Gris2;
    border-radius: 2px;
    margin-bottom: .7rem;
    width: 100%;

    label {
        font: 500 12px/14px "Roboto", sans-serif;
        color: #6a6b86 !important;
    }
}

.checkboxes {
    margin-left: 15rem;
    margin-top: .5rem;
}

.chk-label {
    position: absolute;
    margin-left: .5rem;
    margin-top: 1rem;
}

#pnNewFilter {
    float: left;
    width: 58%;
}

#btnFilter {
    float: left;
    width: 38%;
    margin-left: 4%;
}

.pnForm {
    float: left;
    width: 48%;

    .x-form-trigger {
        padding-top: 0rem;
    }
}

#pnSearch {
    margin-left: 4%;
    margin-top: 0px;
}

#btnAdd {
    float: right;
    padding-right: .5rem;
}

#pnFiltersBox {
    min-height: 100px;
}

#pnTagContainer {
    padding-bottom: .5rem;
    border: 1px solid $Gris2;
    border-radius: 2px;
    margin-bottom: .7rem;
    width: 100%;
    min-height: 100px;

    label {
        font: 500 12px/14px "Roboto", sans-serif;
        color: #6a6b86 !important;
    }
}

.x-panel-body-default-framed, .x-panel-bodyWrap {
    background-color: $blanco !important;
}

.pnTagField {
    float: left;
    margin-top: .5rem;
    margin-left: 2%;
    padding: .5rem;
    width: 40%;
    height: 30px;
    background-color: #E4F0F8;
    border-radius: 3px 0 0 3px;
}

.pnTagSearch {
    float: left;
    margin-top: .5rem;
    padding: .5rem;
    width: 40%;
    height: 30px;
    background-color: #E4F0F8;
}

#tagsContainer-outerCt {
    background-color: $Gris1Fondo;
}

.btnCloseTag {
    @include bgBtn-ico;
    float: left;
    margin-top: .5rem;
    margin-right: 2%;
    padding: .5rem;
    width: 16%;
    height: 30px;
    background-color: #E4F0F8;
    border: none;
    background-image: url(../../../ima/ico-CleanBox.svg);
    border-radius: 0 3px 3px 0;
}

#tagsHeader {
    height: 30px;
    width: 100%
}

.tabsLabels {
    font: 500 12px/14px "Roboto", sans-serif;
    color: #6a6b86 !important;
    float: left;
    margin-top: .5rem;
    margin-left: 2%;
    padding: .5rem;
    width: 38%;
    height: 30px;
}

.btnCloseTag:hover, {
    background-color: #E4F0F8;
    background-image: url(../../../ima/ico-CleanBox.svg);
}

#pnTagContainer .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #E4F0F8;
    background-image: url(../../../ima/ico-CleanBox.svg);
}

.TagTemp {
    font: 600 12px/14px "Roboto", sans-serif;
    color: $Negro !important;
    float: left;
    padding: .2rem;
    padding-right: 60px;
    height: 25px;
    background-color: #FFD48E;
    margin-bottom: 10px;
    border-radius: 3px 0 0 3px;
}

.CloseTemp {
    @include bgBtn-ico;
    float: left;
    padding: .5rem;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-color: #FFD48E;
    border: none;
    background-image: url(../../../ima/ico-CleanBox.svg);
    margin-bottom: 10px;
    border-radius: 0 3px 3px 0;
}

.CloseTemp:hover, {
    background-color: #FFD48E;
    background-image: url(../../../ima/ico-CleanBox.svg);
}

#tagContainersTemp-outerCt {
    float: left;
}

#tagContainersTemp .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: #FFD48E;
    background-image: url(../../../ima/ico-CleanBox.svg);
}

.TagSaved {
    font: 600 12px/14px "Roboto", sans-serif;
    color: $Negro !important;
    float: left;
    padding: .2rem;
    padding-right: 60px;
    height: 25px;
    background-color: $Verde2;
    margin-bottom: 10px;
    border-radius: 3px 0 0 3px;
}

.CloseSaved {
    @include bgBtn-ico;
    float: left;
    padding: .5rem;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-color: $Verde2;
    border: none;
    background-image: url(../../../ima/ico-CleanBox.svg);
    margin-bottom: 10px;
    border-radius: 0 3px 3px 0;
}

.CloseSaved:hover, {
    background-color: $Verde2;
    background-image: url(../../../ima/ico-CleanBox.svg);
}

#tagContainersSaved-outerCt {
    float: left;
}

#tagContainersSaved .x-btn.x-btn-pressed.x-btn-default-small {
    background-color: $Verde2;
    background-image: url(../../../ima/ico-CleanBox.svg);
}

#tagsContainer .x-panel-body-default {
    background: $Gris1Fondo !important;
}
/*#endregion */


/*#region WinAddDocument */

#mainContentgrid_Content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    margin:20px ;
    padding:5px;
}

.grid2rowArea {
    grid-area: grid2rowArea;
}

/*#endregion */
.HeaderLblVisor {
    color: $colPpal !important;
    font-weight: bold !important;
}

#headerToolBar {
    display: none !important;
}
//Panel menu visor gráfico


.visorInsidePn {
    .tlbVisor {
        padding: 0;
    }

    #btnShowPn {
        background-color: $Gris1;

        &:hover {
            background-color: darken($Gris1, 10);
        }
    }

    .cmbIndicador {

        .x-form-text-default {
            font-family: $font-ppal;
            margin-top: 1px;
            font-size: 12px;
            font-weight: 500;
            color: $colPpal;
            text-transform: uppercase;
            padding-left: 1rem;
        }

        .x-form-trigger-wrap-default {
            border: none;
            //border-right: 1px solid $colPpal;
        }


        .x-form-trigger-default::before {
            content: '\f0d7';
            color: $colPpal;
        }

        .x-form-trigger {
            padding-top: 1px;
        }
    }

    .btnSbCategory {
        background-color: $colBg;
        height: 44px;
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;

        span {
            font-size: 13px;
            font-weight: 700;
            font-size: 12px;
            color: $colPpal;
            text-transform: uppercase;
        }

        .x-btn-inner {
            margin-top: 1px;
        }
    }
}

.pnVisorInsidePn {
    padding: 1rem;
}

#TreePanel2-body, #TreePanel2 {
    border-radius: 0px;
    border: none;
    border-right: 1px solid $Gris1;

    .x-panel-header-default {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    tr {
        height: 40px;

        .x-grid-td {
            vertical-align: middle;
        }
    }

    .x-grid-body {
        border-color: $blanco;
        border-width: 0px;
    }
}
#InfoDropdown-inputWrap {
    width:100%;
}

#InfoDropdown-triggerWrap {
    margin-top:5px;
    border: none;
}
#InfoDropdown-inputEl {
    margin-left: 0px;
    padding-top: 9px;
    padding-right: 0px;
}
#ext-element-7 {
    margin-left:-10px !important;
}
#pnVisor {
    padding: 0px !important;

    .grdNoHeader, .pnNoHeader {
        border-top: 0px solid $blanco;
    }

    .gridPanel .x-grid-body {
        border-width: 0px !important;
    }
}

.toolbarbordertop {
    border-top-width: 1px !important;
    border-top-color: $Gris2 !important;
}




.SliderBtn {
    border-color: transparent !important;
    box-shadow: transparent 0 1px 0 inset !important;
    background-color: #062743 !important;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 3px 3px 3px !important;

    span {
        color: white !important;
    }
}


//Fin Panel menu visor gráfico







/*#region Grid VERSIONES OLD */


#GridColumnas-body{
    border-style:hidden !important;
}

.greyBckground {
    background-color: $colBg !important;
}

#pnInfoVersiones-body {
    background-color: $colBg;
}

.TopTitleCustomCol1 {
    margin: 0px 0px 4px 25px;
    font-size: 15px;
    font-weight: bold !important;
}

.customColDiv1 {
    margin: 0px 0px 0px 25px;
    font-size: 15px;
}

.greybckground {
    background-color: #f6f6f6 !important;
}

.grdPanelVersionesOld {
    border-style: hidden !important;

    .x-grid-body {
    }


    .x-grid-item-selected {
        background-color: transparent !important;
    }

    .x-grid-item-focused {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .x-keyboard-mode .x-grid-item-focused .x-grid-cell-inner::before {
        border-color: transparent !important;
    }

    .x-grid-cell-inner::before {
        border-color: transparent !important;
    }


    .x-grid-item {
        width: unset !important;
        // margin-left: 5px !important;
        margin-right: 5px !important;
        margin-bottom: 8px;
        border-width: 1px !important;
        background-color: white !important;
    }
}





/*#endregion */