/*#region Ventana POPUP CLICK EN ICONOS */
.wrapClose {
  height: 22px;
  width: 100% !important;
  margin-top: -10px;
  margin-right: 0px;
  margin-left: 5px; }

.btnTestPopup {
  position: absolute !important;
  left: 1146px;
  top: 588px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: transparent; }

.picoPopUp {
  position: absolute;
  top: 226.4px;
  left: 102px;
  z-index: -22; }

.PopUpInventarioGV {
  display: none;
  position: absolute;
  left: 1050px;
  top: 328px;
  z-index: 999;
  background-color: white;
  border-radius: 4px;
  border: 1px hidden;
  box-shadow: 1px 1px 5px #888888;
  padding: 18px !important; }

.BasebtnCard {
  cursor: pointer !important;
  width: 35px;
  height: 35px !important;
  background-size: 21px;
  border-style: none;
  transition: all 0.3s ease;
  background-position: center center;
  background-repeat: no-repeat; }

.BasebtnCard:hover {
  background-color: #C6c6c6; }

#BtnsFooter {
  margin-top: 25px; }

/*#endregion */
.visorInsidePn .tlbVisor {
  padding: 0; }

.visorInsidePn #btnShowPn {
  background-color: #EDEDED; }
  .visorInsidePn #btnShowPn:hover {
    background-color: #d4d4d4; }

.visorInsidePn .cmbIndicador .x-form-text-default {
  font-family: "Roboto", sans-serif;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 500;
  color: #06A086;
  text-transform: uppercase;
  padding-left: 1rem; }

.visorInsidePn .cmbIndicador .x-form-trigger-wrap-default {
  border: none; }

.visorInsidePn .cmbIndicador .x-form-trigger-default::before {
  content: '\f0d7';
  color: #06A086; }

.visorInsidePn .cmbIndicador .x-form-trigger {
  padding-top: 1px; }

.visorInsidePn .btnSbCategory {
  background-color: #f6f6f6;
  height: 44px;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem; }
  .visorInsidePn .btnSbCategory span {
    font-size: 13px;
    font-weight: 700;
    font-size: 12px;
    color: #06A086;
    text-transform: uppercase; }
  .visorInsidePn .btnSbCategory .x-btn-inner {
    margin-top: 1px; }

#ext-element-4 {
  padding: 5% !important;
  position: relative !important;
  height: 90% !important; }

#visorInsidePn-innerCt {
  padding: 0px !important; }

#TreePanel2 {
  margin: -1px; }

#TreePanel2_header {
  border-radius: 0px !important; }
