#ctBtnSldr {
  display: none;
  width: 96%;
  margin-bottom: .5rem; }

#ctBtnSldr-innerCt {
  float: right;
  width: 80px; }

#btnPrevSldr, #btnNextSldr {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #EDEDED !important;
  border-radius: 50px;
  display: inline-block; }
  #btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnPrevSldr:hover, #btnNextSldr:hover {
    background-color: #c3c3c3; }

#btnPrevSldr {
  margin-right: .3rem; }

#btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
  padding: 2px 2px 2px 2px; }

.btnMainSldr-dis {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: none; }

#ctSlider {
  width: 96%; }

#ctSlider-innerCt {
  display: flex;
  height: 100vh !important;
  overflow: hidden; }

#ctMain1 {
  flex: 0 0 calc(20% - 1rem); }

#ctMain2 {
  flex: 0 0 calc(80% - 1rem); }

#ctMain3 {
  flex: 0 0 calc(80% - 1rem); }

#btnCollapseAsR {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/ima/ico-moveRight.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsR.x-btn-default-small {
    border-color: transparent; }

#btnCollapseAsRClosed {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/ima/ico-moveLeft.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsRClosed.x-btn-default-small {
    border-color: transparent; }

#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  border-left: 1px solid #D8D8D8 !important;
  box-shadow: none;
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6;
  padding: 1rem; }

.lblHeadAside {
  display: block;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #06A086;
  font-size: 16px;
  font-weight: bold; }

@media (max-width: 1024px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1 {
    flex: 0 0 calc(20% - 1rem); }
  #ctMain2 {
    flex: 0 0 calc(80% - 1rem); }
  #ctMain3 {
    flex: 0 0 calc(80% - 1rem); } }

@media (max-width: 768px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 calc(50% - 1rem); } }

@media (max-width: 480px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

@media (max-width: 320px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

#btnCollapseAsR {
  background-image: url("../../../ima/ico-moveRight.svg") !important; }

@media (min-width: 480px) {
  #ctBtnSldr {
    display: none !important; } }

@media (max-width: 670px) {
  .btnCategory .x-btn-inner.x-btn-inner-default-toolbar-small {
    font-size: 1.8vh;
    font-weight: bold; }
  .mainContainer {
    width: 210px !important;
    height: 75px !important; }
  /*  .btnMoreAligned {
        margin-right: -3% !important;
    }*/
  .txtContainerCategorias {
    width: 80% !important; }
  .positionFirstButton {
    margin-top: 9px !important; } }

@media (max-width: 1024px) {
  /* .btnMoreAligned {
        margin-right: % !important;
    }*/
  .sideButtons {
    width: 20px !important;
    margin-top: -6px !important; }
  .positionFirstButton {
    margin-top: 5px !important; } }

/* estilos Panel  */
.gridPanelInventario {
  border-radius: 3px;
  border: 1px solid #D8D8D8;
  width: 75% !important; }
  .gridPanelInventario .x-panel-default-outer-border-trl {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important; }
  .gridPanelInventario .x-panel-default-outer-border-rl {
    border-left: none !important;
    border-right: none !important; }
  .gridPanelInventario .x-panel-default-outer-border-rbl {
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important; }
  .gridPanelInventario .x-title-text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .gridPanelInventario .x-panel-header-default {
    background-image: none;
    background-color: #06A086;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #062743;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 5px 30px; }
  .gridPanelInventario .x-panel-header-title-default {
    font-size: 15px;
    font-weight: 500; }
  .gridPanelInventario .x-grid-header-ct {
    border: 1px solid #EDEDED; }

.toolbarHacked {
  background-color: white !important; }

#CategoryBtn {
  margin-right: 23px;
  color: white !important; }

.btnArrow {
  border: none !important;
  width: 13px !important; }

#CategoryBtn-btnInnerEl, #attributeText-btnInnerEl {
  color: #fff !important;
  font-weight: bold; }

.btnAdd {
  max-width: 4rem;
  justify-self: end; }

#btnAdd {
  float: right;
  padding-right: .5rem; }

#containerAttributes.x-fieldset {
  border: none !important;
  border-radius: 5px; }
  #containerAttributes.x-fieldset .x-toolbar-default {
    padding: 6px 0 6px 8px;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    background-image: none;
    background-color: #f6f6f6 !important; }

#pnConfigurador-innerCt {
  padding: 1rem; }

.menuWidth {
  width: 180px !important;
  height: auto !important; }

.menuWidthV2 {
  width: 182px !important;
  height: 200px !important;
  background-color: white; }

.btnText {
  background-color: #fff !important;
  left: 0px !important;
  border: none !important;
  width: 180px; }
  .btnText .x-btn-inner-default-small {
    color: #06A086 !important;
    font-size: 12px !important;
    border: none !important;
    font-weight: bold; }

.btnTextV2 {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #fff !important;
  left: -12px !important;
  border: none !important;
  /*width: 180px;*/ }
  .btnTextV2.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .btnTextV2:hover {
    background-color: #c3c3c3; }
  .btnTextV2 .x-btn-inner-default-small {
    color: #212121 !important;
    font-size: 12px !important;
    border: none !important;
    margin-right: -6px;
    /*font-weight: bold;*/ }
  .btnTextV2 .x-btn-text.x-btn-icon-left > .x-btn-icon-el-default-small {
    margin-right: 12px; }

.x-label.labelContent.x-box-item.x-label-default.x-menu-item-cmp.x-menu-item-cmp-default.x-menu-item-indent-default {
  width: auto !important;
  margin-top: 5px;
  left: 16px !important;
  color: #06A086 !important;
  font-weight: bold; }

.borderTop {
  border-top: 0.5px solid #EDEDED;
  left: -20px !important; }

.btnCategory {
  border: none; }
  .btnCategory .x-btn-inner.x-btn-inner-default-toolbar-small {
    font-size: 1.5vh;
    font-weight: bold; }

#btnCategory {
  color: #fff !important; }

#flexContainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
  justify-content: stretch !important;
  grid-column-gap: 5rem; }

.headerContainerFlex .x-autocontainer-innerCt {
  display: flex;
  justify-content: space-between !important;
  width: 90% !important;
  margin: 0 auto; }

.headerContainerFlex .x-autocontainer-innerCt:nth-child(1), .headerContainerFlex .x-autocontainer-innerCt:nth-child(2) {
  flex: 1 0 20%; }

#containerRestrictions {
  margin-top: 80px !important; }

.recuadroBordes {
  border: 2px solid #D8D8D8 !important;
  padding: 0px 0px 2px 6px;
  margin-top: 10px !important;
  height: 37px !important;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border: 0px solid #D8D8D8; }

.headerAligned {
  margin-left: 10px; }

.headerAlignedV2 {
  margin-left: 10px;
  font-weight: bold;
  color: #9999A1; }

.btnMoreAligned {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  margin-right: -4% !important;
  /*  border: none !important;
    width: 10px !important;
    background-color: #F6F6F6 !important;
    margin-top: -6px;*/ }
  .btnMoreAligned.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .btnMoreAligned:hover {
    background-color: #c3c3c3; }

.flexItems .x-autocontainer-innerCt:first-child {
  display: flex !important;
  justify-content: flex-start !important; }

.txtContainerCategorias {
  width: 90% !important; }

.sideButtons {
  width: 20px !important;
  margin-top: -4px !important; }

.positionFirstButton {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  width: 5px !important;
  height: 20px !important;
  border: none !important;
  transform: rotate(90deg);
  margin-left: 6px !important;
  outline: none !important; }
  .positionFirstButton.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .positionFirstButton:hover {
    background-color: #c3c3c3; }

.positionSecondButton {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  width: 5px !important;
  height: 20px !important;
  border: none !important;
  transform: rotate(-90deg);
  margin-top: 20px !important;
  margin-left: -22px !important;
  outline: none; }
  .positionSecondButton.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .positionSecondButton:hover {
    background-color: #c3c3c3; }

.containerGrid .x-autocontainer-innerCt {
  box-sizing: border-box !important;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: stretch;
  grid-column-gap: 4rem;
  align-content: center !important; }

.headerGrey .x-toolbar-footer {
  background-color: #f6f6f6 !important;
  padding: 0px 0 20px 0px; }
  .headerGrey .x-toolbar-footer .x-btn.btn-accept.x-unselectable.x-box-item.x-toolbar-item.x-btn-default-small {
    margin-right: 25px !important; }

.headerGrey .containerGrid {
  padding: 1.5em !important; }

.gridPanelSize {
  /*background-color: $blanco !important;*/
  z-index: 2;
  border: 0.5px solid #EDEDED; }
  .gridPanelSize .x-grid-item-alt {
    /*background-color: $blanco !important;*/ }
  .gridPanelSize .x-grid-item-alt:nth-child(even) {
    background-color: #fff !important; }
  .gridPanelSize .x-grid-item-alt:hover {
    background-color: #eaeff4 !important; }
  .gridPanelSize .x-grid-item-selected:nth-child(even) {
    background: #ffefbb !important; }
  .gridPanelSize .x-btn-default-toolbar-small {
    border: none !important; }
  .gridPanelSize .x-grid-body {
    border-top: 0.5px solid #EDEDED; }
  .gridPanelSize .x-grid-cell-first.x-grid-item-focused {
    border: none !important; }

#btnAligned {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  width: 90% !important;
  display: flex !important;
  justify-content: flex-start !important; }
  #btnAligned.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnAligned:hover {
    background-color: #c3c3c3; }
  #btnAligned .x-btn-inner-default-toolbar-small {
    color: #06A086 !important;
    font-weight: bold;
    margin-right: 64px; }

.btnAligned {
  /*! border-color: transparent !important; */
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  /*width: 100% !important;*/
  display: flex !important;
  justify-content: flex-start !important;
  text-align: center !important;
  margin-left: -5px !important; }

.btnAligned.x-btn-default-small {
  border-color: transparent;
  background-color: transparent; }

.btnAligned:hover {
  background-color: #c3c3c3; }

.btnAligned .x-btn-inner-default-toolbar-small {
  color: #06A086 !important;
  font-weight: bold;
  margin-right: 64px; }

.toolBarInventario {
  border-style: none !important;
  border-top: 1px solid #EDEDED !important; }

#searchElement {
  width: 95% !important; }

#toolbarButtons {
  width: 100% !important; }

#comboResponsive {
  width: 100%; }

#btnToolbar {
  margin-left: 12px !important; }

#btnToolbarRight {
  margin-left: -21px !important; }

#toolbarConditions {
  background-color: #F6F6F6 !important; }

#flexContainerCheck-innerCt {
  margin-top: 30px !important;
  grid-template-columns: 50px 50px; }
  #flexContainerCheck-innerCt #chkBoxPrimero .x-form-cb-wrap-default {
    height: 32px;
    min-width: 18px;
    left: 66px !important;
    position: absolute; }
  #flexContainerCheck-innerCt #chkBoxSegundo .x-form-cb-wrap-default {
    height: 32px;
    min-width: 18px;
    left: 180px !important;
    position: absolute; }

#toolbarColorDefault.x-toolbar.x-docked.x-toolbar-default.x-docked-bottom.x-toolbar-docked-bottom.x-toolbar-default-docked-bottom.x-box-layout-ct.x-noborder-rbl {
  padding: 6px 0 6px 8px;
  border-style: solid;
  border-color: #d0d0d0;
  border-width: 1px;
  background-image: none;
  background-color: #f6f6f6; }

#btnSaveElement {
  background-color: #06A086 !important; }

#btnSaveElement:hover {
  background-color: #1B4734 !important; }

.x-grid-with-row-lines .x-grid-item.x-grid-item-selected {
  border-style: solid;
  border-color: #fff; }

.x-grid-cell-inner:before {
  border-style: none !important; }

.x-grid-with-row-lines .x-grid-item-selected + .x-grid-item {
  border-top-style: solid;
  border-top-color: #EDEDED; }

.x-grid-item-selected {
  border: 0.5px solid #EDEDED !important;
  cursor: pointer; }

/* Fin estilos Panel  */
