@import '../../CSS/variables.scss';
@import '../../CSS/mixins.scss';

.nav-vistas {
    height: 40px;
    margin-top: 0 !important;

    a {
        padding-bottom: .3rem
    }

    a:hover {
        border-bottom: 3px solid $colPpal;
    }

    .x-autocontainer-innerCt {
        display: flex;
        height: 3rem;

        span {
            //padding-bottom:.5rem;
            margin-right: 1rem;
            height: 2.5rem;
            padding-top: 15px;
        }
    }
}

/*.winGestionContacto-panel {
    width: 95% !important;
    margin: 0px auto;
}*/

[id*="_formContacto"] {
    .x-autocontainer-form-item {
        //margin-left: .5rem;
        width: 100% !important;
    }
}

[id*="_formDirContacto"] {
    .x-field{
        margin-left: .5rem;
        width: 95% !important;
    }
}

[id*="_containerFormContacto"] {
    .comboForm .x-form-trigger-default::before {
        position: unset;
    }
}

[id*="_btnsFormContacto"] {
    border-color: #f6f6f6;
    background-color: #f6f6f6;

    .x-table-layout {
        float: right;
    }
}

.ctLocGeografica {
    width: 100% !important;
}

[id*="_ctLocGeografica"] {
    width: 100% !important;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 444px;

    .x-field {
        width: 91.5%;
        margin-left: .5rem;
        margin-bottom: .5rem;
    }

    [id*="_locGeografica_cmb"] {

        [id*="-triggerWrap"] {
            height: 32px !important;
        }
    }
}

.txtTelefono {
    [id*="-bodyEl"] {
        direction: rtl !important;

        [id*="-inputWrap"] {
            direction: ltr !important;
        }
    }
}


/*.formColnoGrid {
    height: 150px;
    width: 95%;
    margin: 0 1rem;
}*/
/*#region Form */
.ctForm-resp-col3 {
    @include ctForm-nCol(3); //fijas el número máximo de columnas
}

.ctForm-resp-col2 {
    @include ctForm-nCol(2); //fijas el número máximo de columnas
}

.ctForm-content-resp-col3 {
    @include ctForm-content-nCol(3); //fijas el número máximo de columnas
}

.formColSpan3 {
    @include formColSpan(3);
}

@media (max-width:670px) {

    .winContacto {
       

        [id*="_winGestionContacto-body"] {
            height: 100% !important;
        }
    }

    .winGestionContacto-panel {
        margin: 0px 1rem;
        height: 300px !important;
    }

    [class*="ctForm-resp-"] {

        .x-autocontainer-innerCt {
            display: grid !important;
            grid-template-columns: repeat(1, 1fr);
            justify-content: stretch;
            grid-column-gap: 1rem;
        }

        .x-box-inner {
           width: 100% !important;
        }
    }

    [class*="ctForm-content-resp-"] {

        [id*="_Content"] {
            display: grid !important;
            grid-template-columns: repeat(1, 1fr);
            justify-content: stretch;
            grid-column-gap: 1rem;
        }

        .x-box-inner {
           // width: 90% !important;
        }
    }

    [id*="_ctLocGeografica"] {

        .x-field {
            width: 93% !important;
        }
    }

    [id*="_formNotasContacto"] {

        .x-autocontainer-form-item {
            margin-left: .5rem;
            width: 95% !important;
        }
    }

    [id*="_btnsFormContacto"] {

        tr {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-auto-rows: 35px;
            grid-column-gap: .5rem;
            margin-right: .5rem;
        }
    }
}

/*#endregion Form*/
