.nav-vistas {
  height: 40px;
  margin-top: 0 !important; }
  .nav-vistas a {
    padding-bottom: .3rem; }
  .nav-vistas a:hover {
    border-bottom: 3px solid #06A086; }
  .nav-vistas .x-autocontainer-innerCt {
    display: flex;
    height: 3rem; }
    .nav-vistas .x-autocontainer-innerCt span {
      margin-right: 1rem;
      height: 2.5rem;
      padding-top: 15px; }

/*.winGestionContacto-panel {
    width: 95% !important;
    margin: 0px auto;
}*/
[id*="_formContacto"] .x-autocontainer-form-item {
  width: 100% !important; }

[id*="_formDirContacto"] .x-field {
  margin-left: .5rem;
  width: 95% !important; }

[id*="_containerFormContacto"] .comboForm .x-form-trigger-default::before {
  position: unset; }

[id*="_btnsFormContacto"] {
  border-color: #f6f6f6;
  background-color: #f6f6f6; }
  [id*="_btnsFormContacto"] .x-table-layout {
    float: right; }

.ctLocGeografica {
  width: 100% !important; }

[id*="_ctLocGeografica"] {
  width: 100% !important;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 444px; }
  [id*="_ctLocGeografica"] .x-field {
    width: 91.5%;
    margin-left: .5rem;
    margin-bottom: .5rem; }
  [id*="_ctLocGeografica"] [id*="_locGeografica_cmb"] [id*="-triggerWrap"] {
    height: 32px !important; }

.txtTelefono [id*="-bodyEl"] {
  direction: rtl !important; }
  .txtTelefono [id*="-bodyEl"] [id*="-inputWrap"] {
    direction: ltr !important; }

/*.formColnoGrid {
    height: 150px;
    width: 95%;
    margin: 0 1rem;
}*/
/*#region Form */
.ctForm-resp-col3 .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-resp-col2 .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-content-resp-col3 [id*="_Content"], .ctForm-content-resp-col3 #ctLocGeografica_Content {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.formColSpan3 {
  grid-column-end: 4;
  grid-column-start: 1; }

@media (max-width: 670px) {
  .winContacto [id*="_winGestionContacto-body"] {
    height: 100% !important; }
  .winGestionContacto-panel {
    margin: 0px 1rem;
    height: 300px !important; }
  [class*="ctForm-resp-"] .x-autocontainer-innerCt {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    justify-content: stretch;
    grid-column-gap: 1rem; }
  [class*="ctForm-resp-"] .x-box-inner {
    width: 100% !important; }
  [class*="ctForm-content-resp-"] [id*="_Content"] {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    justify-content: stretch;
    grid-column-gap: 1rem; }
  [id*="_ctLocGeografica"] .x-field {
    width: 93% !important; }
  [id*="_formNotasContacto"] .x-autocontainer-form-item {
    margin-left: .5rem;
    width: 95% !important; }
  [id*="_btnsFormContacto"] tr {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 35px;
    grid-column-gap: .5rem;
    margin-right: .5rem; } }

/*#endregion Form*/
