/*#region WINDOW MODAL FORM */
.x-window-body {
  padding: .8rem 1rem; }

.nav-vistas {
  height: auto; }
  .nav-vistas a {
    padding-bottom: .3rem; }
  .nav-vistas a:hover {
    border-bottom: 3px solid #06A086; }
  .nav-vistas .x-autocontainer-innerCt {
    display: flex;
    height: 2rem; }
    .nav-vistas .x-autocontainer-innerCt span {
      margin-right: 1rem; }

/*#region Form */
.ctForm-resp-col3 .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-resp-col2 .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

@media (max-width: 670px) {
  [class*="ctForm-resp-"] .x-autocontainer-innerCt {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    justify-content: stretch;
    grid-column-gap: 1rem; }
  [class*="ctForm-resp-"] .x-box-inner {
    width: 100% !important; } }

/*#endregion Form*/
/*#region Toolbar footer window */
.btnWin {
  position: absolute;
  bottom: 16px;
  width: 95%;
  border: none;
  background: none;
  box-shadow: none; }
  .btnWin .x-table-layout {
    float: right;
    margin-right: 0; }

@media (max-width: 670px) {
  .btnWin {
    bottom: unset; } }

/*#endregion Toolbar footer window */
/*#endregion */
