#ctOrderCols {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 0; }
  #ctOrderCols li {
    display: inline-flex;
    min-width: max-content;
    height: 100%;
    margin: 0 20px;
    align-content: center;
    justify-content: center;
    align-items: center; }
  #ctOrderCols li.placeholder {
    width: 2.5px;
    height: 60px;
    background-color: #144D7E;
    border-bottom: unset !important;
    position: absolute;
    margin-left: -5px; }

.dragDropCol {
  display: inline-block; }
  .dragDropCol div {
    display: inline-block;
    max-width: 150px; }
  .dragDropCol .dragItem.ico-drag-horizontal {
    background-size: cover; }
  .dragDropCol .colName {
    vertical-align: middle;
    margin-right: 10px; }
