/*@include layoutRes(100%, 50%, 60%, 40%, 40%, 30%);*/
.grdPnColIcons .ulGrid {
  padding: 1rem 0 .5rem 0;
  width: 75%;
  margin-bottom: 0 !important;
  align-self: center; }

.grdPnColIcons .ulGridCol2 {
  width: 25% !important;
  margin-left: 2rem;
  text-align: center; }
  .grdPnColIcons .ulGridCol2 li {
    display: contents !important; }
  .grdPnColIcons .ulGridCol2 li:last-child {
    float: right !important; }

.grdPnColIcons .ulGrid h5 {
  margin: 0; }

.grdPnColIcons .ctIcons {
  display: flex;
  margin-bottom: .5rem;
  margin-top: .5rem;
  justify-content: space-between; }
  .grdPnColIcons .ctIcons .icoGridItem {
    flex: 1 0 calc(33% - 0.2rem);
    margin-right: .5rem;
    align-self: center; }

.grdPnColIcons .ctIconSolo {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center; }

.grdPnColIcons .ulGrid .code {
  font-size: 10px;
  display: block;
  text-decoration: underline;
  margin-top: .5rem;
  color: #6A6B75; }

.progBar-wr {
  width: 100px;
  height: 8px;
  background-color: #EDEDED;
  border-radius: 10px;
  margin-right: .5rem; }
  .progBar-wr .progBar {
    height: 8px;
    border-radius: 10px;
    background-color: #06A086; }

#grdProjects {
  height: 100vh !important;
  /*.x-panel-body, .x-grid-view {
		height: 100vh !important;
	}*/ }
  #grdProjects .x-panel-body-default-framed, #grdProjects .x-panel-bodyWrap {
    background-color: #ffffff !important; }

#grdPhases {
  margin-bottom: 1rem; }

#grdSuppliers {
  height: 100vh !important;
  /*.x-panel-body, .x-grid-view {
		height: 100vh !important;
	}*/ }
  #grdSuppliers .x-panel-body-default-framed, #grdSuppliers .x-panel-bodyWrap {
    background-color: #ffffff !important; }

.grBodyNoborder .x-grid-body {
  border-width: 0px !important; }

.ctForm-resp-project .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-resp-phases .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-resp-zones .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-resp-suppliers .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-resp-notifications .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  grid-auto-rows: 80px; }

.ctForm-resp-addNotification .x-autocontainer-innerCt {
  display: grid !important;
  grid-template-columns: repeat(1, minmax(170px, 1fr));
  justify-content: stretch;
  grid-column-gap: 1rem;
  padding: .6rem; }

@media (max-width: 670px) {
  [class*="ctForm-resp-"] .x-autocontainer-innerCt {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    justify-content: stretch;
    grid-column-gap: 1rem; }
  [class*="ctForm-resp-"] .x-box-inner {
    width: 100% !important; } }

#pnVistasForm {
  margin-left: 0;
  margin-bottom: 1.5rem; }

.ctRowForm-resp .x-box-inner, .ctRowForm-resp .x-box-target {
  width: 100% !important; }

.ctRowForm-resp .x-box-target {
  display: flex; }

.ctRowForm-resp .x-box-item {
  position: static !important;
  width: calc(50% - 0.5rem); }

#fldCtZones .x-box-inner, #fldCtZones .x-box-target {
  width: 100% !important; }

#fldCtZones .x-box-target {
  display: flex; }

#fldCtZones .x-box-item {
  position: static !important;
  width: calc(50% - 0.5rem); }

#fldCtSuppliers .x-box-inner, #fldCtSuppliers .x-box-target {
  width: 100% !important; }

#fldCtSuppliers .x-box-target {
  display: flex; }

#fldCtSuppliers .x-box-item {
  position: static !important;
  width: calc(50% - 0.5rem); }

#txtContact {
  margin-left: 1rem !important; }

#cmbSuppliers {
  margin-left: 1rem !important; }

.btnTog {
  padding-left: 0; }

#cntBtnForm {
  text-align: right;
  margin-top: 2rem; }

#btnPrev {
  margin-right: 1rem; }

.btnAdd {
  max-width: 4rem;
  justify-self: end; }

.grdFormElAdded.x-panel {
  width: 100% !important; }

.grdFormElAdded .x-column-header {
  background-color: #f6f6f6;
  border-width: 0; }

.grdFormElAdded .x-column-header-text {
  color: #6A6B75;
  font: 500 12px/14px "Roboto", sans-serif; }

.grdFormElAdded .x-grid-body {
  border: none; }

.grdFormElAdded .x-panel-body {
  border: 1px solid #D8D8D8 !important;
  border-radius: 3px;
  background-color: #fff !important;
  width: 100% !important; }

.grdFormElAdded .x-grid-view {
  width: 100% !important; }

.grdFormElAdded .x-grid-item-container {
  margin: .2rem auto;
  width: 99% !important; }

.grdFormElAdded table {
  width: unset !important;
  width: 99% !important;
  table-layout: fixed;
  position: static;
  margin-bottom: .2rem;
  margin: .2rem auto; }

.grdFormElAdded tr {
  display: block;
  width: 99% !important; }

.grdFormElAdded .x-grid-item {
  background-color: #d1e4f6;
  border-radius: 3px;
  border: 1px solid #d1e4f6; }

.grdFormElAdded .x-grid-item.x-grid-item-selected {
  border-style: solid;
  border-color: #d1e4f6 !important; }

.grdFormElAdded .x-btn-default-toolbar-small {
  border-color: transparent; }

.grdFormElAdded .x-btn-over {
  border-radius: 30px;
  background-color: #EDEDED; }

.grdNotificationsF {
  background-color: #fff;
  border: 1px solid #EDEDED;
  border-radius: 3px;
  margin-top: .5rem; }
  .grdNotificationsF .x-grid-body {
    border-top-color: #fff; }
  .grdNotificationsF .x-grid-item-alt, .grdNotificationsF .x-panel-body {
    background-color: #fff !important; }
  .grdNotificationsF .x-grid-item-selected {
    background-color: #FFF4D3 !important; }
  .grdNotificationsF .ulGrid {
    padding: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 95%; }
  .grdNotificationsF h5 {
    margin-top: .2rem;
    margin-bottom: .2rem;
    max-width: 600px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis; }
  .grdNotificationsF p {
    margin: 0;
    max-width: 600px;
    overflow: hidden;
    padding-right: .5rem;
    text-overflow: ellipsis;
    font-size: 13px; }

.x-grid-cell-inner {
  padding: unset !important;
  padding-left: 10px !important;
  padding-right: 10px !important; }

.x-keyboard-mode .x-grid-item-focused .x-grid-cell-inner::before {
  border-width: 0px !important; }

#btCerrarAddNotif {
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  justify-self: end; }
  #btCerrarAddNotif.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btCerrarAddNotif:hover {
    background-color: #c3c3c3; }

#pnFormAddNotif {
  border: 1px solid #EDEDED;
  border-radius: 3px; }

.wrapBotonesYcmbFiltros {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.wrapFilterCmbNBtns2 {
  text-align: center; }
