#ctBtnSldr {
  display: none;
  width: 96%;
  margin-bottom: .5rem; }

#ctBtnSldr-innerCt {
  float: right;
  width: 80px; }

#btnPrevSldr, #btnNextSldr {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #EDEDED !important;
  border-radius: 50px;
  display: inline-block; }
  #btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnPrevSldr:hover, #btnNextSldr:hover {
    background-color: #c3c3c3; }

#btnPrevSldr {
  margin-right: .3rem; }

#btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
  padding: 2px 2px 2px 2px; }

.btnMainSldr-dis {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: none; }

#ctSlider {
  width: 96%; }

#ctSlider-innerCt {
  display: flex;
  height: 100vh !important;
  overflow: hidden; }

#ctMain1 {
  margin-right: 1rem;
  background-color: #fca7a7;
  flex: 0 0 calc(40% - 1rem); }

#ctMain2 {
  margin-right: 1rem;
  background-color: #b7fab7;
  flex: 0 0 calc(30% - 1rem); }

#ctMain3 {
  background-color: #a8e0f8;
  flex: 0 0 calc(30% - 1rem); }

#btnCollapseAsR {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../ima/ico-moveRight.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsR.x-btn-default-small {
    border-color: transparent; }

#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  box-shadow: 2px 0px 4px 3px rgba(0, 0, 0, 0.16);
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6;
  padding: 1rem; }

.lblHeadAside {
  display: block;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #06A086;
  font-size: 16px;
  font-weight: bold; }

#hugeCt {
  background-color: #FFF4D3;
  width: 100%;
  height: 100vh; }

#lblAqui {
  font-size: 22px;
  font-weight: bold; }

@media (max-width: 1024px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1 {
    margin-right: 1rem;
    flex: 0 0 calc(60% - 1rem); }
  #ctMain2 {
    margin-right: 1rem;
    flex: 0 0 calc(40% - 1rem); }
  #ctMain3 {
    flex: 0 0 calc(40% - 1rem); } }

@media (max-width: 768px) {
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 calc($colSize768 - 1rem); } }

@media (max-width: 480px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

@media (max-width: 320px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

/*#region PANEL DERECHO */
#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  box-shadow: 2px 0px 4px 3px rgba(0, 0, 0, 0.16);
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6;
  padding: 0; }

.lblHeadAside {
  display: block;
  margin-top: 1rem;
  margin-left: .5rem;
  color: #06A086;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; }

.ctAsideR {
  margin-top: 1rem; }

#ctAsideR-innerCt {
  display: flex;
  justify-content: flex-start; }

#mnAsideR {
  flex: 0 0 40px;
  border-right: 1px solid #EDEDED !important; }

#mnAsideR-innerCt {
  height: 100vh; }

#pnGridsAsideR {
  flex: 1 1 90%;
  height: 100vh; }
  #pnGridsAsideR #pnGridsAsideR-innerCt {
    height: 100vh; }

.tlbGrdAsR {
  margin-top: 1rem;
  padding-left: .5rem; }

.lblRecordName {
  display: block;
  background-color: #EDEDED;
  font-size: 11px;
  color: #3a3a40;
  text-transform: uppercase;
  padding: .5rem .5rem .5rem 1.6rem;
  height: 2rem;
  position: relative; }
  .lblRecordName:before {
    content: '';
    display: block;
    height: 1rem;
    border-left: 4px solid #3a3a40;
    position: absolute;
    left: 1rem;
    top: 8px; }

.grdIntoAside .x-grid-body {
  border-width: 0 !important; }

.grdIntoAside .x-grid-item {
  background-color: #fff; }

.grdIntoAside .x-grid-with-row-lines .x-grid-item:last-child {
  border-bottom-width: 0px; }

.grdIntoAside .x-grid-with-row-lines .x-grid-item.x-grid-item-selected {
  border-style: solid;
  border-color: #fff; }

.grdIntoAside .x-grid-cell-inner {
  padding: 0; }

.grdIntoAside .x-grid-item-focused .x-grid-cell-inner::before {
  border: 1px solid #fff; }

.grdIntoAside .tmpCol-table {
  width: 100%; }

.grdIntoAside .tmpCol-tr {
  height: 52px; }

.grdIntoAside .tmpCol-td {
  padding: .5rem 1rem;
  border-bottom: 1px solid #EDEDED; }

.grdIntoAside .alg-center {
  text-align: center; }

.grdIntoAside .lblGrd {
  font-size: 12px;
  color: #6A6B75; }

.grdIntoAside .dataGrd {
  font-size: 14px;
  color: #3a3a40;
  display: block; }

.grdIntoAside .col-3 {
  width: 33%; }

.grdIntoAside .userImg {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #3B8FD9;
  color: #fff;
  margin-right: .3rem;
  border-radius: 20px;
  padding: 9px 10px; }

.grdIntoAside .userName {
  font-size: 15px;
  font-weight: 700; }

.grdIntoAside .userProfile {
  font-size: 12px;
  margin-top: -2px; }

/*#endregion */
