#ctBtnSldr {
  display: none;
  width: 96%;
  margin-bottom: .5rem; }

#ctBtnSldr-innerCt {
  float: right;
  width: 80px; }

#btnPrevSldr, #btnNextSldr {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #EDEDED !important;
  border-radius: 50px;
  display: inline-block; }
  #btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnPrevSldr:hover, #btnNextSldr:hover {
    background-color: #c3c3c3; }

#btnPrevSldr {
  margin-right: .3rem; }

#btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
  padding: 2px 2px 2px 2px; }

.btnMainSldr-dis {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: none; }

#ctSlider {
  width: 96%; }

#ctSlider-innerCt {
  display: flex;
  height: 100vh !important;
  overflow: hidden; }

#ctMain1 {
  flex: 0 0 calc(30% - 1rem); }

#ctMain2 {
  flex: 0 0 calc(70% - 1rem); }

#ctMain3 {
  flex: 0 0 calc(70% - 1rem); }

#btnCollapseAsR {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/ima/ico-moveRight.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsR.x-btn-default-small {
    border-color: transparent; }

#btnCollapseAsRClosed {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/ima/ico-moveLeft.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsRClosed.x-btn-default-small {
    border-color: transparent; }

#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  border-left: 1px solid #D8D8D8 !important;
  box-shadow: none;
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6;
  padding: 1rem; }

.lblHeadAside {
  display: block;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #06A086;
  font-size: 16px;
  font-weight: bold; }

@media (max-width: 1024px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1 {
    flex: 0 0 calc(30% - 1rem); }
  #ctMain2 {
    flex: 0 0 calc(70% - 1rem); }
  #ctMain3 {
    flex: 0 0 calc(70% - 1rem); } }

@media (max-width: 768px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 calc(50% - 1rem); } }

@media (max-width: 480px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

@media (max-width: 320px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

.x-btn-over {
  background-color: transparent !important; }

/*#region OVERRIDE A LOS BOTONES SLIDER PARA 2 PANELES */
#ctBtnSldr {
  display: none !important; }

@media (max-width: 480px) {
  #ctBtnSldr {
    display: block !important; } }

/*#endregion */
.customColDiv1 {
  padding-bottom: 10px; }

.pnlP1FullH {
  height: 100vh !important; }
  .pnlP1FullH .ulGrid {
    padding: 1rem 0 .5rem 0;
    width: 75%;
    margin-bottom: 0 !important;
    align-self: center; }
  .pnlP1FullH .ulGridCol2 {
    width: 25% !important;
    margin-left: 2rem;
    text-align: center; }
    .pnlP1FullH .ulGridCol2 li {
      display: contents !important; }
    .pnlP1FullH .ulGridCol2 li:last-child {
      float: right !important; }
  .pnlP1FullH .ulGrid h5 {
    margin: 0; }
  .pnlP1FullH .ctIcons {
    display: flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
    justify-content: space-between; }
    .pnlP1FullH .ctIcons .icoGridItem {
      flex: 1 0 calc(33% - 0.2rem);
      margin-right: .5rem;
      align-self: center; }
  .pnlP1FullH .ctIconSolo {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center; }
  .pnlP1FullH .ulGrid .code {
    font-size: 10px;
    display: block;
    text-decoration: underline;
    margin-top: .5rem;
    color: #6A6B75; }
  .pnlP1FullH .x-panel-body, .pnlP1FullH .x-autocontainer-innerCt {
    height: 90vh !important; }
  .pnlP1FullH .x-panel-body-default-framed, .pnlP1FullH .x-panel-bodyWrap {
    background-color: #ffffff !important; }

#tbBotMain {
  position: absolute !important;
  bottom: 20px !important;
  height: 50px; }

.CntAndTblFullH .x-autocontainer-innerCt {
  height: 90vh;
  display: flex;
  flex-direction: column; }

.CntAndTblFullH .CtWrap-H {
  flex: 1 0 70%; }
  .CntAndTblFullH .CtWrap-H .x-autocontainer-innerCt {
    display: block;
    height: auto; }

.CntAndTblFullH .tlb-bottom {
  flex: 0 0 120px;
  margin-right: 1rem; }

#ctTxt {
  height: 300px; }
  #ctTxt h4 {
    margin-bottom: .5rem; }
  #ctTxt p {
    margin-right: 1rem; }

.btnLocalizacion {
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-image: url("/ima/ico-location.svg") !important;
  background-size: 20px;
  width: 20px; }
  .btnLocalizacion.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .btnLocalizacion:hover {
    background-color: #c3c3c3; }

/*#region ESTILOS TITULO SUBTITULO TOOLBARS */
/*#TBTitle, #TBTitle-innerCt {
    height: 3rem;
}*/
.big-lbl-title {
  font-size: 22px;
  font-weight: 900;
  position: absolute;
  padding-top: 0px;
  display: contents; }
  .big-lbl-title span {
    padding-top: 15px;
    max-width: 75%;
    display: block;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis; }

@media (max-width: 768px) {
  .big-lbl-title {
    font-size: 20px; } }

.subtitle-subcode {
  margin-top: 5px;
  font-size: 12px;
  background: #FFD9AA;
  color: #74450D;
  border-radius: 2px !important; }
  .subtitle-subcode span {
    vertical-align: unset !important;
    padding-left: 2px !important;
    padding-right: 2px !important; }
  .subtitle-subcode .grdcustomscroll .x-scroller {
    -webkit-overflow-scrolling: touch;
    background: rebeccapurple; }

.TBSubtitle {
  padding-bottom: 1.5rem; }

/*#endregion */
/*#region TOOLBARDONEUNDONE P2 */
.btn-toggleGrid-Cntract {
  font-weight: bold !important; }
  .btn-toggleGrid-Cntract span {
    color: black !important;
    font-weight: bold; }

/*#endregion */
.Override100InnerH .x-autocontainer-innerCt {
  height: 100% !important; }

.OverlapIconUpF {
  border-style: hidden !important;
  background-image: url("/ima/ico-folder-16x16.svg");
  width: 16px;
  height: 16px;
  background-color: transparent !important; }
  .OverlapIconUpF .x-btn-over .x-btn-default-small {
    border: hidden;
    background-image: none;
    background-color: transparent !important; }

.toolbar-noborder {
  border: hidden !important; }

.TopTitleCustomCol1 {
  margin-bottom: 5px; }

.MainTitleCustomCol1 {
  margin-top: 0px;
  font-weight: bold !important;
  font-size: 14px !important;
  white-space: normal !important; }

.x-grid-editor .x-form-text {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px !important; }

.x-grid-row-summary .x-grid-cell,
.x-grid-row-summary .x-grid-rowwrap,
.x-grid-row-summary .x-grid-cell-rowbody {
  background-color: #062743 !important;
  color: white !important;
  font-weight: bold; }

/*#region GRID TRACKING */
.grdOneCol .x-grid-item-container {
  width: 100% !important; }

.grdOneCol .x-grid-item {
  width: 100% !important; }

.grdOneCol .x-grid-cell-inner {
  white-space: normal;
  background-color: white;
  border-bottom: 1px solid #EDEDED; }

.dvTrack {
  margin-top: .4rem;
  margin-bottom: .4rem;
  display: flex;
  justify-content: space-between; }

/*.dvCntComm {
    flex: 0 0 60%;
}

.dvCntState {
    flex: 2 0 40%;

    button {
        margin-right: .5rem;
    }

    button:last-child {
        margin-right: 0;
    }
}*/
.dvUser {
  display: flex; }

.dvUser img {
  width: 30px;
  margin-right: .2rem; }

.userName {
  font-size: 13px;
  font-weight: bold;
  color: #06A086;
  display: block;
  margin-top: 2px; }

.dvComm {
  padding-right: 20px; }
  .dvComm p {
    font-size: 12px;
    line-height: 18px;
    max-width: 500px;
    overflow-wrap: break-word; }

.stateName {
  margin-top: 0;
  margin-bottom: 1rem;
  position: relative;
  display: block;
  padding: .5rem .6rem .5rem 2rem;
  font-size: 12px;
  font-weight: 500;
  width: 160px !important;
  border-radius: 2px;
  background-color: #d1e4f6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.stateName:before {
  position: absolute;
  content: url("../../ima/ico-estados.svg");
  height: 16px;
  left: 8px;
  top: 5px; }

.btnDocUploaded {
  width: 24px;
  height: 24px;
  background-color: #06A086;
  background-image: url("../../ima/ico-docs-bl-16px.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #06A086;
  border-radius: 2px;
  cursor: pointer; }
  .btnDocUploaded:hover {
    background-color: #046f5d;
    border: 1px solid #046f5d; }

.btnChangesTrack {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  background-image: url("../../ima/ico-changes-gr-16px.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #06A086;
  border-radius: 2px;
  cursor: pointer; }
  .btnChangesTrack:hover {
    background-color: #e6e6e6;
    border: 1px solid #046f5d; }

.ico-inactivo {
  float: right;
  margin-top: .3rem;
  margin-right: .3rem; }

.dateComm {
  position: relative;
  display: block;
  margin-top: 1rem;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 12px; }

.dateComm:before {
  position: absolute;
  content: url("../../ima/ico-calendario-min.svg");
  width: 10px;
  left: 0;
  top: 1px; }

/*#endregion */
/*#region Estilos ventanas popup docum y cambios */
.WinTrackDocum .x-title-text {
  color: #06a086; }

.WinTrackDocum .x-window-header-default {
  background-color: white;
  border-color: #DDD; }

.WinTrackDocum .x-window-header-default-top {
  background-color: white;
  border-style: hidden; }

.WinTrackChanges .x-title-text {
  color: #06a086; }

.WinTrackChanges .x-window-header-default {
  background-color: white;
  /*border-color: #DDD;*/
  border: 1px solid #EDEDED; }

.WinTrackChanges .x-window-header-default-top {
  background-color: white;
  /*border-style: hidden;
	border-bottom-style: solid !important;
	border-bottom-width: thick;*/
  border: 1px solid #D8D8D8 !important; }

.sep-subtitulos-trackchanges {
  margin: 0.25rem; }

.WinTrackChanges .x-fieldset {
  background-color: #fff;
  border: none !important;
  margin-bottom: 0; }

/*#endregion */
.LblElipsis {
  overflow: no-display;
  text-overflow: ellipsis !important;
  white-space: nowrap; }
