#ctBtnSldr {
  display: none;
  width: 96%;
  margin-bottom: .5rem; }

#ctBtnSldr-innerCt {
  float: right;
  width: 80px; }

#btnPrevSldr, #btnNextSldr {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #EDEDED !important;
  border-radius: 50px;
  display: inline-block; }
  #btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnPrevSldr:hover, #btnNextSldr:hover {
    background-color: #c3c3c3; }

#btnPrevSldr {
  margin-right: .3rem; }

#btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
  padding: 2px 2px 2px 2px; }

.btnMainSldr-dis {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: none; }

#ctSlider {
  width: 96%; }

#ctSlider-innerCt {
  display: flex;
  height: 100vh !important;
  overflow: hidden; }

#ctMain1 {
  margin-right: 1rem;
  background-color: #fca7a7;
  flex: 0 0 calc(40% - 1rem); }

#ctMain2 {
  margin-right: 1rem;
  background-color: #b7fab7;
  flex: 0 0 calc(30% - 1rem); }

#ctMain3 {
  background-color: #a8e0f8;
  flex: 0 0 calc(30% - 1rem); }

#btnCollapseAsR {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../ima/ico-moveRight.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsR.x-btn-default-small {
    border-color: transparent; }

#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  box-shadow: 2px 0px 4px 3px rgba(0, 0, 0, 0.16);
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6;
  padding: 1rem; }

.lblHeadAside {
  display: block;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #06A086;
  font-size: 16px;
  font-weight: bold; }

#hugeCt {
  width: 100%;
  height: 100vh; }

#lblAqui {
  font-size: 22px;
  font-weight: bold; }

@media (max-width: 1024px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1 {
    margin-right: 1rem;
    flex: 0 0 calc(60% - 1rem); }
  #ctMain2 {
    margin-right: 1rem;
    flex: 0 0 calc(40% - 1rem); }
  #ctMain3 {
    flex: 0 0 calc(40% - 1rem); } }

@media (max-width: 768px) {
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 calc($colSize768 - 1rem); } }

@media (max-width: 480px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

@media (max-width: 320px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

/*#region PANEL DERECHO */
#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  box-shadow: 2px 0px 4px 3px rgba(0, 0, 0, 0.16);
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6;
  padding: 0; }

.lblHeadAside {
  display: block;
  margin-top: 1rem;
  margin-left: .5rem;
  color: #06A086;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; }

.ctAsideR {
  margin-top: 1rem; }

#ctAsideR-innerCt {
  display: flex;
  justify-content: flex-start; }

#mnAsideR {
  flex: 0 0 40px;
  border-right: 1px solid #EDEDED !important; }

#mnAsideR-innerCt {
  height: 100vh; }

#pnGridsAsideR {
  flex: 1 1 90%;
  height: 100vh; }
  #pnGridsAsideR #pnGridsAsideR-innerCt {
    height: 100vh; }

.tlbGrdAsR {
  margin-top: 1rem;
  padding-left: .5rem; }

.lblRecordName {
  display: block;
  background-color: #EDEDED;
  font-size: 11px;
  color: #3a3a40;
  text-transform: uppercase;
  padding: .5rem .5rem .5rem 1.6rem;
  height: 2rem;
  position: relative; }
  .lblRecordName:before {
    content: '';
    display: block;
    height: 1rem;
    border-left: 4px solid #3a3a40;
    position: absolute;
    left: 1rem;
    top: 8px; }

.grdIntoAside .x-grid-body {
  border-width: 0 !important; }

.grdIntoAside .x-grid-item {
  background-color: #fff; }

.grdIntoAside .x-grid-with-row-lines .x-grid-item:last-child {
  border-bottom-width: 0px; }

.grdIntoAside .x-grid-with-row-lines .x-grid-item.x-grid-item-selected {
  border-style: solid;
  border-color: #fff; }

.grdIntoAside .x-grid-cell-inner {
  padding: 0; }

.grdIntoAside .x-grid-item-focused .x-grid-cell-inner::before {
  border: 1px solid #fff; }

.grdIntoAside .tmpCol-table {
  width: 100%; }

.grdIntoAside .tmpCol-tr {
  height: 52px; }

.grdIntoAside .tmpCol-td {
  padding: .5rem 1rem;
  border-bottom: 1px solid #EDEDED; }

.grdIntoAside .alg-center {
  text-align: center; }

.grdIntoAside .lblGrd {
  font-size: 12px;
  color: #6A6B75; }

.grdIntoAside .dataGrd {
  font-size: 14px;
  color: #3a3a40;
  display: block; }

.grdIntoAside .col-3 {
  width: 33%; }

.grdIntoAside .userImg {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #3B8FD9;
  color: #fff;
  margin-right: .3rem;
  border-radius: 20px;
  padding: 9px 10px; }

.grdIntoAside .userName {
  font-size: 15px;
  font-weight: 700; }

.grdIntoAside .userProfile {
  font-size: 12px;
  margin-top: -2px; }

/*#endregion */
/*#region PANEL LATERAL DERECHO */
.ctAsideR {
  margin-top: 1rem; }

#ctAsideR-innerCt {
  display: flex;
  justify-content: flex-start; }

#mnAsideR {
  flex: 0 0 40px;
  border-right: 1px solid #EDEDED !important; }

#mnAsideR-innerCt {
  height: 100vh; }

#pnGridsAsideR {
  flex: 1 1 90%; }

.tlbGrdAsR {
  margin-top: 1rem;
  padding-left: .5rem; }

#frmEditNot .x-panel-body {
  background-color: #fff; }

#frmEditAlert .x-panel-body {
  background-color: #fff; }

#pnCFiltersContainer, #pnMFiltersContainer {
  margin-left: .7rem;
  margin-right: 1rem;
  margin-top: 1.5rem; }
  #pnCFiltersContainer .btn-add, #pnMFiltersContainer .btn-add {
    background-color: #06A086 !important;
    border: 1px solid #06A086;
    border-radius: 3px;
    margin-left: .5rem; }
    #pnCFiltersContainer .btn-add .x-btn-inner-default-small, #pnMFiltersContainer .btn-add .x-btn-inner-default-small {
      /*font-family: $font-ppal;*/
      font-size: 14px;
      color: #fff !important; }
    #pnCFiltersContainer .btn-add:hover, #pnMFiltersContainer .btn-add:hover {
      background-color: #046f5d !important;
      border: 1px solid #046f5d; }

.chk-ctoTrck {
  padding: 0 0rem;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  margin-bottom: .7rem;
  width: 100%; }
  .chk-ctoTrck label {
    font: 500 12px/14px "Roboto", sans-serif;
    color: #6a6b86 !important; }

.checkboxes {
  margin-left: 15rem;
  margin-top: .5rem; }

.chk-label {
  margin-left: .5rem;
  margin-top: 1rem; }

#pnNewFilter {
  float: left;
  width: 58%; }

#btnFilter {
  float: left;
  width: 38%;
  margin-left: 4%; }

.pnForm {
  float: left;
  width: 48%; }
  .pnForm .x-form-trigger {
    padding-top: 0rem; }

#pnSearch {
  margin-left: 4%;
  margin-top: 0px; }

#btnAdd {
  float: right;
  padding-right: .5rem;
  margin-bottom: .7rem; }

#pnFiltersBox {
  min-height: 100px; }

#pnContentTags {
  margin: 5px;
  padding: 5px;
  width: 100%; }

.tagFilter {
  margin: 5px;
  padding: 5px;
  width: 100%; }

.pnTag {
  float: left;
  width: 48%; }
  .pnTag .x-form-trigger {
    padding-top: 0rem; }

.pnTagDrop {
  float: left;
  width: 48%; }
  .pnTagDrop .x-form-trigger {
    padding-top: 0rem; }

.LblCenterSideP span {
  position: absolute !important;
  top: 26%;
  min-width: 130px; }

/*#region Estilos Grid Sidebar MYFILTERS */
.GridMyFilters .BtnDeleteChk {
  max-width: 25px;
  max-height: 25px;
  margin: 6px 5px 5px 5px !important;
  border-style: hidden !important;
  background-color: transparent !important;
  background-image: url("/ima/ico-trash-bl-16p.svg") !important;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.4s ease-out;
  opacity: 0.3; }

.GridMyFilters .BtnDeleteChk:hover {
  background-image: url("/ima/ico-trash-bl-16p.svg") !important;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1; }

.GridMyFilters .BtnEditChk {
  max-width: 25px;
  max-height: 25px;
  margin: 6px 12px 5px 5px !important;
  border-style: hidden !important;
  background-color: transparent !important;
  background-image: url("/ima/ico-editar.svg") !important;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.4s ease-out;
  opacity: 0.3; }

.GridMyFilters .BtnEditChk:hover {
  background-image: url("/ima/ico-editar.svg") !important;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1; }

.GridMyFilters .CheckBoxesV2 {
  top: 7px !important; }

.GridMyFilters .x-form-cb-default {
  margin-top: 4px !important; }

.GridMyFilters .Grhover:hover {
  transition: border-color 0.4s ease-out;
  border-color: #06A086 !important; }

.GridMyFilters .x-grid-item-alt {
  background-color: transparent !important; }

.GridMyFilters .x-grid-item {
  margin: 5px;
  margin-top: 10px !important;
  border-radius: 5px;
  margin-right: 40px;
  border-color: #DEDEDE !important;
  border-style: solid !important;
  border-width: 1px !important;
  max-width: 250px !important;
  transition: border-color 0.4s ease-out; }

.GridMyFilters .x-grid-item:hover {
  background-color: white !important;
  border-color: #06A086 !important;
  border-color: #06A086 !important; }

.GridMyFilters .x-grid-cell-inner {
  top: 6px !important; }

.GridMyFilters .x-keyboard-mode .x-grid-item-focused .x-grid-cell-inner::before {
  border: hidden !important; }

.GridMyFilters .chkNewAlign {
  margin-top: -1px;
  margin-bottom: 1px; }

.GridMyFilters .x-grid-item-selected {
  background-color: white !important; }

/*#endregion */
/*#endregion */
/*#region GRID SIDEBAR CREATE FILTERS */
#pnCFiltersContainer, #pnMFiltersContainer {
  margin-left: .7rem;
  margin-right: 2rem;
  margin-top: 1.5rem; }
  #pnCFiltersContainer .btn-add, #pnMFiltersContainer .btn-add {
    background-color: #06A086 !important;
    border: 1px solid #06A086;
    border-radius: 3px;
    margin-left: .5rem; }
    #pnCFiltersContainer .btn-add .x-btn-inner-default-small, #pnMFiltersContainer .btn-add .x-btn-inner-default-small {
      /*font-family: $font-ppal;*/
      font-size: 14px;
      color: #fff !important; }
    #pnCFiltersContainer .btn-add:hover, #pnMFiltersContainer .btn-add:hover {
      background-color: #046f5d !important;
      border: 1px solid #046f5d; }

.btn-end {
  background-color: #06A086 !important;
  border: 1px solid #06A086;
  border-radius: 3px;
  float: right;
  margin-left: .5rem; }
  .btn-end .x-btn-inner-default-small {
    /*font-family: $font-ppal;*/
    font-size: 14px;
    color: #fff !important; }
  .btn-end:hover {
    background-color: #046f5d !important;
    border: 1px solid #046f5d; }

.btn-save {
  background-color: #fff;
  border: 1px solid #58E5A9;
  border-radius: 3px;
  float: right;
  margin-left: .5rem; }
  .btn-save .x-btn-inner-default-small {
    font-size: 14px;
    color: #06A086; }
  .btn-save:hover {
    background-color: #58E5A9;
    Border: 1px solid #58E5A9; }

.chk-ctoTrck {
  padding: 0 0rem;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  margin-bottom: .7rem;
  width: 100%; }
  .chk-ctoTrck label {
    font: 500 12px/14px "Roboto", sans-serif;
    color: #6a6b86 !important; }

.checkboxes {
  margin-left: 15rem;
  margin-top: .5rem; }

.chk-label {
  position: absolute;
  margin-left: .5rem;
  margin-top: 1rem; }

#pnNewFilter {
  float: left;
  width: 58%; }

#btnFilter {
  float: left;
  width: 38%;
  margin-left: 4%; }

.pnForm {
  float: left;
  width: 48%; }
  .pnForm .x-form-trigger {
    padding-top: 0rem; }

#pnSearch {
  margin-left: 4%;
  margin-top: 0px; }

#btnAdd {
  float: right;
  padding-right: .5rem; }

#pnFiltersBox {
  min-height: 100px; }

#pnTagContainer {
  padding-bottom: .5rem;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  margin-bottom: .7rem;
  width: 100%;
  min-height: 100px; }
  #pnTagContainer label {
    font: 500 12px/14px "Roboto", sans-serif;
    color: #6a6b86 !important; }

.x-panel-body-default-framed, .x-panel-bodyWrap {
  background-color: #fff !important; }

.pnTagField {
  float: left;
  margin-top: .5rem;
  margin-left: 2%;
  padding: .5rem;
  width: 40%;
  height: 30px;
  background-color: #E4F0F8;
  border-radius: 3px 0 0 3px; }

.pnTagSearch {
  float: left;
  margin-top: .5rem;
  padding: .5rem;
  width: 40%;
  height: 30px;
  background-color: #E4F0F8; }

#tagsContainer-outerCt {
  background-color: #f6f6f6; }

.btnCloseTag {
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  margin-top: .5rem;
  margin-right: 2%;
  padding: .5rem;
  width: 16%;
  height: 30px;
  background-color: #E4F0F8;
  border: none;
  background-image: url(../../../ima/ico-CleanBox.svg);
  border-radius: 0 3px 3px 0; }

#tagsHeader {
  height: 30px;
  width: 100%; }

.tabsLabels {
  font: 500 12px/14px "Roboto", sans-serif;
  color: #6a6b86 !important;
  float: left;
  margin-top: .5rem;
  margin-left: 2%;
  padding: .5rem;
  width: 38%;
  height: 30px; }

.btnCloseTag:hover {
  background-color: #E4F0F8;
  background-image: url(../../../ima/ico-CleanBox.svg); }

#pnTagContainer .x-btn.x-btn-pressed.x-btn-default-small {
  background-color: #E4F0F8;
  background-image: url(../../../ima/ico-CleanBox.svg); }

.TagTemp {
  font: 600 12px/14px "Roboto", sans-serif;
  color: #212121 !important;
  float: left;
  padding: .2rem;
  padding-right: 60px;
  height: 25px;
  background-color: #FFD48E;
  margin-bottom: 10px;
  border-radius: 3px 0 0 3px; }

.CloseTemp {
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  padding: .5rem;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-color: #FFD48E;
  border: none;
  background-image: url(../../../ima/ico-CleanBox.svg);
  margin-bottom: 10px;
  border-radius: 0 3px 3px 0; }

.CloseTemp:hover {
  background-color: #FFD48E;
  background-image: url(../../../ima/ico-CleanBox.svg); }

#tagContainersTemp-outerCt {
  float: left;
  background-color: #f6f6f6;
  width: 0px; }

#tagContainersTemp .x-btn.x-btn-pressed.x-btn-default-small {
  background-color: #FFD48E;
  background-image: url(../../../ima/ico-CleanBox.svg); }

.TagSaved {
  font: 600 12px/14px "Roboto", sans-serif;
  color: #212121 !important;
  float: left;
  padding: .2rem;
  padding-right: 60px;
  height: 25px;
  background-color: #58E5A9;
  margin-bottom: 10px;
  border-radius: 3px 0 0 3px; }

.CloseSaved {
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  padding: .5rem;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-color: #58E5A9;
  border: none;
  background-image: url(../../../ima/ico-CleanBox.svg);
  margin-bottom: 10px;
  border-radius: 0 3px 3px 0; }

.CloseSaved:hover {
  background-color: #FFD48E;
  background-image: url(../../../ima/ico-CleanBox.svg); }

#tagContainersSaved-outerCt {
  float: left;
  background-color: #f6f6f6;
  width: 0px; }

#tagContainersSaved .x-btn.x-btn-pressed.x-btn-default-small {
  background-color: #FFD48E;
  background-image: url(../../../ima/ico-CleanBox.svg); }

/*#endregion */
/*#region Sidebar FILTROS MAPAS */
.btnApplyFiltersMap {
  margin-top: 20px; }

/*#endregion */
