#ctBtnSldr {
  display: none;
  width: 96%;
  margin-bottom: .5rem; }

#ctBtnSldr-innerCt {
  float: right;
  width: 80px; }

#btnPrevSldr, #btnNextSldr {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #EDEDED !important;
  border-radius: 50px;
  display: inline-block; }
  #btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnPrevSldr:hover, #btnNextSldr:hover {
    background-color: #c3c3c3; }

#btnPrevSldr {
  margin-right: .3rem; }

#btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
  padding: 2px 2px 2px 2px; }

.btnMainSldr-dis {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: none; }

#ctSlider {
  width: 96%; }

#ctSlider-innerCt {
  display: flex;
  height: 100vh !important;
  overflow: hidden; }

#ctMain1 {
  flex: 0 0 calc(30% - 1rem); }

#ctMain2 {
  flex: 0 0 calc(70% - 1rem); }

#ctMain3 {
  flex: 0 0 calc(70% - 1rem); }

#btnCollapseAsR {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/ima/ico-moveRight.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsR.x-btn-default-small {
    border-color: transparent; }

#btnCollapseAsRClosed {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("/ima/ico-moveLeft.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsRClosed.x-btn-default-small {
    border-color: transparent; }

#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  border-left: 1px solid #D8D8D8 !important;
  box-shadow: none;
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6;
  padding: 1rem; }

.lblHeadAside {
  display: block;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #06A086;
  font-size: 16px;
  font-weight: bold; }

@media (max-width: 1024px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1 {
    flex: 0 0 calc(30% - 1rem); }
  #ctMain2 {
    flex: 0 0 calc(70% - 1rem); }
  #ctMain3 {
    flex: 0 0 calc(70% - 1rem); } }

@media (max-width: 768px) {
  #ctBtnSldr {
    display: block; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 calc(50% - 1rem); } }

@media (max-width: 480px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

@media (max-width: 320px) {
  #ctSlider {
    margin: 0 auto; }
  #ctMain1, #ctMain2, #ctMain3 {
    flex: 0 0 100%; } }

.HeaderInicio .x-panel-body-default {
  background-color: #f6f6f6 !important; }

.alturaPn {
  height: min-content !important; }

.image-title {
  display: inline-block; }

@media (max-width: 667px) {
  .HeaderInicio .x-panel-body-default {
    background-color: #f6f6f6 !important;
    max-width: 100%; } }
