@import 'mixins';
@import 'variables';

.bgColor {
    background-color: $Gris1Fondo;
}

.x-grid-view {
    background-color: #FCFCFC;
}

.x-title-text {
    color: #062743;
    font-family: roboto;
    font-weight: medium;
    font-size: 15px;
}

.x-panel-header-default {
    background-color: transparent !important;

    .x-panel-header-default-horizontal {
        border-color: none !important;
    }

    border-color: none !important;
}

/*#region Renders*/

.progressBar {
    width: 100%;
    max-width: unset;
    border-radius: 25px;

    .bar {
        background-color: $Verde2;
        color: $blanco;
        height: 100%;
        border-radius: 25px;
    }
}

/*#endregion*/
.ctColsSel {
    width: calc(100% - 160px);
    margin: 20px 80px;
    height: 80px;
    border: solid 1px $Gris2;
    border-radius: 5px;
}

.content100 {
    div[id$="_Content"] {
        height: 100% !important;
    }
}

#ctColumns {
    position: relative;
    margin: 30px;
}

.ctCol {
    display: inline-block;
    position: relative;
    width: 150px;
    margin-top: 15px;
    height: 40px;
    vertical-align: top;

    .lblNombre {
        margin-left: 25px;
        margin-top: 11.5px;
    }
}

.cmbItem {
    height: 55px;
    padding: 10px 15px;

    .title {
        font-size: 13px;
        color: #6A6B75;
        margin-bottom: 0;
        font-weight: 500;
    }

    .subTitle {
        font-size: 11px;
        color: #6A6B75;
        margin-bottom: 0;
    }
}

.Hidden {
    display: none;
}

.btnColumna {
    background-color: transparent;
    border: 0;
}

.btnSave {
    @include baseBoton (#144D7E,14px,blanco);
    border-radius: 17px !important;
    min-width: 22px;
    display: inline-block;
    margin: 0 !important;
    text-align: left !important;
    color: $blanco !important;


    .x-btn-inner-default-toolbar-small {
        font: 400 12px/16px $font-ppal !important;
        color: $blanco !important;
        max-width: 50%;
        font-weight: bold !important;
    }

    .x-btn-item-over, &:hover {
        background-color: #58E5A9 !important;
        font-size: 12px;
        border-color: #58E5A9 !important;
        transition: all ease 0.1s;

        .x-btn-inner-default-toolbar-small {
            color: #144D7E !important;
            font-weight: 500 !important;
        }
    }

    .Hidden {
        display: block;
    }
}

.btnSecundary {
    @include baseBoton (white,14px,#144D7E);
    border: 2px solid #1B3953;
    border-radius: 17px !important;
    color: #144D7E !important;
    display: inline-block;
    margin: 0 !important;
    min-width: 22px;
    text-align: left !important;

    .x-btn-inner-default-toolbar-small {
        color: #144D7E !important;
        font: 400 12px/16px $font-ppal !important;
        font-weight: bold !important;
        max-width: 50%;
    }

    .x-btn-item-over, &:hover {
        background-color: #58E5A9 !important;
        border-color: #58E5A9 !important;
        font-size: 12px;
        transition: all ease 0.1s;

        .x-btn-inner-default-toolbar-small {
            color: #144D7E !important;
            font-weight: 500 !important;
        }
    }

    .Hidden {
        display: block;
    }
}

.btnMenuDes {
    background-image: url(/ima/ico-moveDown-white.svg) !important;
    background-size: 15px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 40px !important;

    .x-btn-inner {
        display: none;
    }

    .x-btn-wrap-default-toolbar-small.x-btn-arrow-right:after {
        content: unset;
    }
}

.GuardarVista {
    border-radius: 20px 0px 0px 20px !important;
    min-width: 90px;
    min-length: 32px;

    .x-btn-inner {
        max-width: 75%;
    }
}

.OpcionesGuardarVista {
    border-radius: 0px 20px 20px 0px !important;
    min-width: 22px;
}

.btnNoFiltros {
    margin: 12px 6px 0 !important;
}

.tabbar-1022-innerCt {
    background-color: #F6F6F6;
}

.gridGeneral {
    margin-top: 10px;
    background-color: $Gris1 !important;

    .x-grid-item:first-child {
        border-top: none !important;
        border-top: $Gris1 !important;
    }

    .x-grid-cell-inner::before {
        border: unset !important;
        outline: unset !important;
        color: #424242 !important;
        font-weight: normal !important;
    }

    .x-grid-item {
        border-spacing: 5px;
        margin-bottom: 5px;
        background-color: white;
        border-bottom-width: thin !important;
        border-bottom-color: rgb(233, 233, 233) !important;
    }

    .x-grid-item-selected {
        border-left: 4px solid #144D7E !important;
    }

    .x-grid-item-focused {
        //background-color: $blanco;
        border: unset;
    }

    .x-grid-item-over {
        box-shadow: 5px 5px 11px rgba(33,33,33,.2);
        z-index: 99999;
        overflow: visible;
        font-size: 13px;
        font-weight: 500;
        transition: all ease 0.1s;


        .Hidden {
            display: block;
        }

        td:first-child .x-grid-cell-inner {
            text-align: center;
            width: min-content;
            margin: 0 auto;
            left: -5px;
        }
    }

    .x-column-header {
        line-height: 20px !important;
        background-color: $blanco;
        border-bottom-width: initial;
        border-bottom-color: black;
    }

    .x-grid-body {
        margin-top: 10px;
        background-color: $Gris1Fondo;
        border-top: 0;
    }
}

.treeGridGeneral {
    font-family: roboto;
    font-weight: regular;
    color: #424242;
    border: solid 2px #d0d0d0 !important;
    background-color: white !important;
    border-top: solid !important;

    .x-grid-cell-inner::before {
        border: unset !important;
        outline: unset !important;
        color: #424242 !important;
        font-weight: normal !important;
    }

    .x-panel-header {
        background-color: white !important;
        border-top: thin !important;
        border-color: #062743 !important;
        border-left: thin !important;
        border-right: thin !important;
    }

    .x-title-item {
        background-color: white !important;
        font-family: roboto;
    }

    .x-border-box {
        border: solid 1px #d0d0d0;
    }

    .x-grid-item {
        border-bottom: solid 0.25px #d0d0d0;

        .x-tree-icon.x-tree-icon-leaf::before {
            content: unset !important;
        }

        .x-grid-item-focused {
            color: #06A086 !important;
            font-weight: bold;
        }

        &.x-grid-item-selected {
            font-family: roboto !important;
            font-weight: bold;
            color: #06A086 !important;
            background-color: transparent !important;
        }
    }

    .errorNode {
        position: relative;

        .x-grid-cell-inner::before {
            position: absolute;
            content: "";
            right: 10px;
            background-image: url(/ima/ico-incidence-20px.svg);
            top: 14px;
            display: block;
            background-size: 20px;
            width: 20px;
            height: 20px;
            left: unset;
        }
    }
}

.headerTitle {
    background-color: #FCFCFC;
    border-top-width: 4px !important;
    border-color: #144D7E;

    .headerText {
        font-weight: bold;
        color: #144D7E;
    }
}

.menuCabecera {
    background-color: #FCFCFC;
}

.pnDetail {
    @include gridIntoAside;

    table {
        width: 100%;
    }

    .titleAcor {
        color: #144D7E;
        font-size: 1.5em;
        margin-left: 15px;
    }

    .x-item-selected {
        outline: none !important;
    }

    .cntSubSecc {
        margin-left: 10px;
        margin-top: 10px;

        .titleAcorSubSecc {
            color: #144D7E;
            font-size: 1.2em;
            margin-left: 15px;
        }
    }
}

.dataModel {
    font-family: Roboto;
    font-weight: bold;
    color: $colPpal;
    margin-left: 14px !important;
}

.titleContract {
    font-family: Roboto;
    font-weight: bold;
    font-size: 13px;
    height: 24px;
    border-bottom: 3px solid #144D7E;
    pointer-events: none;
    color: $Gris4;
    text-transform: uppercase;
    line-height: 20px;
}

.dataModel {
    font-family: Roboto;
    font-weight: bold;
    color: #144D7E;
    margin-bottom: 15px !important;
    position: absolute;
    top: 0 !important;
}

.settingsColumns {
    font-family: Roboto;
    font-weight: bold;
    color: #144D7E;
}

//Third Parties-Companies: Companies Cards.

//Third Parties-Companies: Companies Cards-Add Company.

.btnAddcontent {
    background-color: transparent !important;
    font-family: roboto;
    display: block;
    border: none;
    text-decoration: underline !important;

    &:hover {
        border: none;
        display: block;
    }

    .x-btn-inner {
        color: #144D7E !important;
    }
}

.formulario {
    color: #144D7E !important;
    font-weight: bold !important;
    color: #144D7E !important;
}

.descripcion {
    color: #144D7E !important;
}

.car {
    color: #144D7E !important;
    font-weight: bold !important;
    color: #144D7E !important;
}

.bottomline {
    border-top: solid 0.5px #888888 !important;
}

/*#region CARDS*/

.btnRolFilter {
    background-color: $colBg;
    border: none;
    border-radius: 25px;
    width: 30px;

    .x-btn-inner {
        color: $GrisNegro;
        font-size: 14px !important;
        font-weight: 300 !important;
        padding: 0;
    }

    &[aria-pressed="true"] {

        .x-btn-inner {
            color: #FCFCFC;
        }
    }
}

.iconTag {
    display: inline-block;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    color: white;
    font-family: roboto;
    margin: 0 2px;
    cursor: default;
    text-align: center;

    &[activo="false"] {
        display: none;
    }

    span {
        top: 1px;
        position: relative;
    }

    p {
        margin-top: -4px;
        font-size: 14px !important;
        font-weight: 300 !important;
    }
}

.iconRed {
    background-color: #C03F53;
    display: inline-block;
}

.iconBlue {
    background-color: #0D3E71;
}

.iconGreen {
    background-color: #06A086;
}

.iconOrange {
    background-color: #EEA652;
}

.viewCardsCont {
    overflow-y: auto;

    [id*="_Content"] {
        height: 100%;

        .containerStyle {
            height: fit-content !important;
        }
    }
}

.containerStyle {
    font-family: Roboto;
    background-color: $Gris1Fondo;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;

    .contCard {
        background-color: $blanco;
        display: inline-block;
        width: 400px;
        height: 250px;
        margin: 50px;
        border: solid 0.5px #FCFCFC;
        box-shadow: 5px 5px 11px rgba(33,33,33,.2);
        vertical-align: top;
        position: relative;
        transition: all ease 0.15s;
        border-radius: 4px !important;


        &:hover {
            box-shadow: 1px 0px 5px 5px rgba(20,77,126,0.75);
        }

        .contAddNew {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            top: 0;
            position: absolute;

            &:hover {
                .icon-add {
                    opacity: 1;
                }
            }

            .icon-add {
                position: absolute;
                right: calc(50% - 30px);
                top: 85px;
                width: 46px;
                height: 46px;
                opacity: 0.5;

                &:before, &:after {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 46px;
                    width: 5px;
                    background-color: #144D7E;
                }

                &:before {
                    transform: rotate(0deg);
                }

                &:after {
                    transform: rotate(90deg);
                }
            }

            .textAdd {
                color: #144D7E;
                font: normal normal bold 18px/24px Roboto;
                letter-spacing: 0px;
                margin-top: 150px;
                opacity: 1;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .lineStyle {
            height: 0;
            width: 90%;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 15px;
            border: solid 1px $Gris1Fondo !important;
            border-radius: 50px;
            background-color: $Gris1Fondo;
        }

        .contHeader {
            padding: 46px 16px 6px !important;
            font-family: roboto;
            margin-bottom: 5px !important;
            margin-top: -13px !important;
            position: relative;
            height: 85px;


            .elemHeader {
                text-align: left;
                margin-bottom: -19px !important;
                margin-top: -8px !important;

                .headerSecond {
                    display: inline-block;
                    vertical-align: top;
                    //margin-left: 45px !important;
                    // margin-bottom: 24px !important;
                    //margin-top: -33px !important;

                    .itemCardTitle {
                        font-size: 18px !important;
                        font-weight: bold !important;
                        margin-left: 13px !important;
                        margin-top: 5px !important;
                        max-width: 140px !important;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 20px;
                        white-space: nowrap;
                        display: inline-block;
                    }

                    .SL {
                        position: relative;
                        top: -4px;
                    }

                    .itemCardSubTitle {
                        font-size: 15px !important;
                        font-weight: regular !important;
                        margin-left: 13px !important;
                        color: grey;
                    }

                    .itemDataCode {
                        font-size: 15px !important;
                        font-weight: regular !important;
                        margin-left: 13px !important;
                        margin-top: 5px !important;
                        color: grey;
                    }
                }

                .compannyImage {
                    width: 44px;
                    height: 44px;
                    display: inline-block;
                    vertical-align: top;
                }

                .dvCompanyLogo {
                    border: solid 1px $Gris1Fondo;
                    border-radius: 44px;
                    width: 44px;
                    height: 44px;
                    display: inline-block;
                    text-align: center;

                    .textCompanyLogo {
                        font-size: 25px !important;
                        font-weight: bold !important;
                        color: #144D7E;
                        width: 44px;
                        height: 44px;
                        user-select: none;
                        vertical-align: -webkit-baseline-middle;
                        margin-top: 5px;
                    }
                }
            }

            .smallIconsHeader {
                width: max-content;
                height: 20px;
                position: absolute;
                top: 45px;
                right: 20px;

                .iconTag {
                    display: inline-block;
                    border-radius: 25px;
                    width: 20px;
                    height: 20px;
                    color: white;
                    font-family: roboto;
                    margin: 0 2.5px;
                    cursor: default;

                    &[activo="false"] {
                        display: none;
                    }

                    span {
                        top: 2px;
                        position: relative;
                    }
                }

                .iconRed {
                    background-color: #C03F53;
                    display: inline-block;
                }

                .iconBlue {
                    background-color: #0D3E71;
                }

                .iconGreen {
                    background-color: #06A086;
                }

                .iconOrange {
                    background-color: #EEA652;
                }
            }
        }

        .contDetails {
            display: grid;
            grid-template-columns: repeat(2, calc(50% - .5rem));
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
            padding: 16px !important;
            font-size: 12px;
            font-family: roboto;

            .iconText {
                display: inline-block;
                width: 125px;
                text-align: left;
                margin-left: 12px;
                top: -4px;
                position: relative;
            }

            .iconDetail {
                display: inline-block;
                width: 20px;
                height: 20px;
            }

            .iconSpanPhone {
                margin-left: 20px !important;
            }

            .iconSpanEmail {
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                max-width: 300px !important;
            }
        }

        .defaultCard {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: 15px;
            background-image: url(/ima/ico-default-card.svg);
            background-repeat: no-repeat;
            z-index: 10;

            &[default="true"] {
                background-image: url(/ima/ico-default-card-yw.svg);
                display: block !important;
            }
        }
    }
}

.cardMultiSelect {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    .contCard {
        border: solid 1px #BCBCBC;
        background-color: $blanco;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 265px;
        height: 105px;
        margin: 1rem 1.5rem;
        padding: 0 1.5rem;
        position: relative;
        border-radius: 4px !important;

        &[activo="true"] {
            border: solid 2px #144D7E;

            .checkCard {
                div {
                    width: 8px;
                    height: 8px;
                    background-color: #04A086;
                    border-radius: 8px;
                }
            }
        }

        .checkCard {
            width: 14px;
            height: 14px;
            position: absolute;
            left: 5px;
            top: 5px;
            background-color: $blanco;
            border: solid 1px #134B80;
            border-radius: 14px;
            padding: 2px;
        }

        .nameCard {
            margin: auto;
            color: #144D7E;
            font-weight: bold;
            line-height: 105px;
            text-align: center;
            vertical-align: middle;
            user-select: none;
        }

        .defaultCard {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 5px;
            background-image: url(/ima/ico-default-card.svg);
            background-repeat: no-repeat;

            &[default="true"] {
                background-image: url(/ima/ico-default-card-yw.svg);
            }
        }
    }
}

.cardFormCheck {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;

    .contCardCheck {
        border: solid 1px #BCBCBC;
        border-radius: 3px;
        background-color: $blanco;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 1rem;
        padding: 0 1rem;
        position: relative;

        &[activo="true"] {

            .checkCard {
                div {
                    width: 8px;
                    height: 8px;
                    background-color: #04A086;
                    border-radius: 8px;
                }
            }
        }

        &[activo="true"][code="Owner"] {
            background-color: #B6D5F1 !important;
        }

        &[activo="true"][code="Supplier"] {
            background-color: #ECC0C7 !important;
        }

        &[activo="true"][code="Customer"] {
            background-color: #C6F3EB !important;
        }

        &[activo="true"][code="Payee"] {
            background-color: #FFF0DF !important;
        }

        .checkCard {
            width: 14px;
            height: 14px;
            position: absolute;
            left: 5px;
            top: 5px;
            background-color: $blanco;
            border: solid 1px #134B80;
            border-radius: 14px;
            padding: 2px;
        }

        .nameCard {
            margin: auto;
            font-weight: bold;
            line-height: 105px;
            text-align: center;
            vertical-align: middle;
            user-select: none;

            &[code="Owner"] {
                color: #144D7E;
            }

            &[code="Supplier"] {
                color: #C55768;
            }

            &[code="Customer"] {
                color: #26AA93;
            }

            &[code="Payee"] {
                color: #ECAF67;
            }
        }
    }
}

/*#endregion*/

/*#region Form*/

.pnLateralForm {
    background-color: $blanco;
    border: solid 1px $Gris1;

    .panelTitle {
        color: #6A6B75;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.22px;
        line-height: 16px;
        opacity: 1;
        text-align: left;
    }

    .seccion {
        .x-header {
            background-color: $blanco !important;
        }

        .x-title-text {
            background-color: $blanco;
            color: #134F7C !important;
            font: normal normal bold 14px/24px Roboto !important;
            letter-spacing: 0px;
            opacity: 1;
            text-align: left;
        }

        .lbTitleWF {
            color: #6C6D77;
            display: block;
            height: fit-content;
            font: normal normal bold 22px/29px Roboto;
            margin-bottom: .8rem;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        .lbDescriptionWF {
            color: #2E2F33;
            display: block;
            height: fit-content;
            font: normal normal normal 15px/21px Roboto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        .lbTitleRoles {
            color: #6A6B75;
            font: normal normal bold 12px/16px Roboto;
            margin-bottom: .5rem;
        }
    }
}

.pnForm {
    border: 1px solid #D8D8D8;
    border-radius: 2.5px;
    margin: 2.5px;

    .x-toolbar-default {
        border-width: 0;
    }

    .x-panel-body {
        background-color: #FCFCFC;
    }

    .ctForm {
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 2.5px;
        background-color: #FCFCFC;
        border: 1px solid #BEBEBE !important;
        padding: 15px 50px 30px 50px;
        width: 90%;

        .x-header {
            background-color: #FCFCFC !important;

            .x-title-text {
                color: #062743 !important;
                font-size: 18px;
                font-weight: bold;
            }

            div {
                background-color: inherit !important;
            }
        }

        .x-form-item {
            position: relative;
            width: 500px;
            margin: 0 auto;
            margin-top: 15px;

            div {
                overflow: visible;
            }

            .x-form-item-body {
                max-width: 300px !important;
                min-width: 300px !important;
                width: 300px !important;
                //width: 300px;
            }

            .x-form-text {
                font-size: 13px;
                color: #6A6B75;
                font-weight: 500;
            }
        }

        .lblForm {
            color: #062743 !important;
            font-size: 15px;
            font-weight: bold;
        }
    }

    .containerStyle {
        font-family: Roboto;
        background-color: $Gris1Fondo;
        text-align: center;
        max-width: 1500px;
        margin: 0 auto;
        height: 100%;

        .contCard {
            background-color: $blanco;
            display: inline-block;
            width: 400px;
            height: 250px;
            margin: 50px;
            border: solid 0.5px #FCFCFC;
            box-shadow: 5px 5px 11px rgba(33,33,33,.2);
            vertical-align: top;
            position: relative;
            transition: all ease 0.15s;
            border-radius: 4px !important;
            /*
            &:hover {
                background-color: #144D7E !important;
                color: #FCFCFC !important;
            }*/



            &:hover {
                box-shadow: 1px 0px 5px 5px rgba(20,77,126,0.75);

                .Hidden {
                    display: inline-block;
                }
            }

            .btnAcciones {
                position: absolute;
                right: 5px;
                bottom: 3px;
                height: 25px;
                width: max-content;


                .btnEdit {
                    background-image: url(/ima/ico-editar.svg);
                }
                /*.btnPaye {
                    background-image: url(/ima/ico-group.svg);
                }
*/
                .btnDelete {
                    background-image: url(/ima/ico-trash.svg);
                }

                div {
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                }
            }
        }

        .contAddNew {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            top: 0;
            position: absolute;
            border-radius: 5px !important;

            .icon-add {
                opacity: 1;
            }
        }

        .icon-add {
            position: absolute;
            right: calc(50% - 30px);
            top: 85px;
            width: 46px;
            height: 46px;
            opacity: 0.5;

            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 46px;
                width: 5px;
                background-color: #144D7E;
            }

            &:before {
                transform: rotate(0deg);
            }

            &:after {
                transform: rotate(90deg);
            }
        }

        .textAdd {
            margin-top: 150px;
            text-align: center;
            font: normal normal bold 18px/24px Roboto;
            letter-spacing: 0px;
            color: #144D7E;
            opacity: 1;
            text-transform: uppercase;
        }
    }

    .contHeader {
        padding: 46px 16px 6px 16px !important;
        font-family: roboto;
        margin-bottom: 5px !important;
        margin-top: -13px !important;
        position: relative;
        height: 85px;
        text-align: left;

        .imgTitle {
            width: 40px;
            display: inline-block;
            vertical-align: middle;
        }

        .itemCardTitle {
            display: inline-block;
            text-align: center;
            font: normal normal bold 18px/24px Roboto;
            letter-spacing: 0px;
            color: #144D7E;
            text-transform: uppercase;
            vertical-align: middle;
            margin-bottom: 0;
            margin-left: 20px;
        }
    }

    .contDetails {
        text-align: left;
        padding: 16px 16px 16px 16px !important;
        font-size: 12px;
        font-family: roboto;

        .lineStyle {
            height: 0;
            width: 90%;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 15px;
            border: solid 1px $Gris1Fondo !important;
            border-radius: 50px;
            background-color: $Gris1Fondo;
        }

        .iconText {
            display: inline-block;
            width: 100%;
            text-align: left;
            margin-left: 12px;
            top: -4px;
            position: relative;

            .spanTitle {
            }

            .iconSpan {
            }
        }
    }

    .disabledInput {
        opacity: 0.6;

        .x-form-trigger-wrap-default {
            border: none;

            input {
                background-color: #FCFCFC;
            }
        }
    }

    .required {
        .x-form-item-label {
            &:before {
                position: absolute;
                content: "";
                left: -5px;
                background-image: url(/ima/ico_exclamacion-10px-grey.svg);
                top: 7px;
                display: block;
                background-size: 10px;
                width: 10px;
                height: 10px;
            }
        }

        &[invalid = 'true'] {
            .x-form-item-label {
                &:before {
                    background-image: url(/ima/ico_exclamacion-10px-red.svg);
                }
            }
        }
    }

    .newCheckbox {
        .x-form-field {
            width: 30px !important;
            height: 30px !important;

            &::before {
                content: unset !important;
            }

            .x-form-cb-input {
                position: absolute;
                width: 1em;
                height: 1em;
                color: #363839;
                border: 2px solid #d8d8d8;
                border-radius: 4px;
                appearance: none;
                background-color: $blanco;
                outline: 0;
                cursor: pointer;
                top: 15px;
                margin-top: -0.75em;
                transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
                opacity: 1;

                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0.4px;
                    left: 4.75px;
                    width: 6px;
                    height: 10px;
                    border-style: solid;
                    border-color: #06a086;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    opacity: 0;
                }

                &:checked {
                    color: #06A086;
                    border-color: #06A086;
                    background: #fff;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .tbFlotante {
        position: fixed !important;
        margin: 0 auto;
        width: 100vw !important;
        background-color: transparent !important;
        z-index: 1;
        overflow: visible !important;
        padding: 0px 35px;

        .x-box-inner, .x-box-target {
            width: 100% !important;
            height: 0 !important;
            text-align: right;
            overflow: visible !important;
        }

        .x-btn {
            position: relative !important;
            z-index: 1;
            left: unset !important;
            top: unset !important;
        }
    }

    .backgroundGrey {
        background-color: $Gris1Fondo !important;
        border-bottom-width: 4px;
        border-bottom-color: black;
    }
}

/*#endregion*/

.renderActivo {
    color: $colPpal !important;
    background-image: url( '/ima/ico-active-20px.svg' );
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: none;
    padding-left: 30px;
    display: inline-block;
    height: 27px;
    padding-top: 20px;
    background-size: 20px;
}

.renderNoActivo {
    color: $colPpal !important;
    background-image: url( '/ima/ico-active-noselect20px.svg' );
    background-repeat: no-repeat;
    background-position: left center;
    text-decoration: none;
    padding-left: 30px;
    display: inline-block;
    height: 27px;
    padding-top: 20px;
    background-size: 20px;
}

.styleContainerGrid {
    background-color: $Gris1Fondo;
    font-family: Roboto;
    height: 100%;
    margin: 0 auto;
    /*max-width: 1500px;*/
    text-align: center;

    .contWFCard {
        margin: 25px;
    }

    .contStatusCard {
        margin: 25px;
    }
}

.contStatusCard {
    background-color: $blanco;
    border: solid 0.5px #FCFCFC;
    border-radius: 3px !important;
    border-top: solid 3px #C67B24;
    box-shadow: 5px 5px 11px rgba(33,33,33,.2);
    display: inline-block;
    height: 184px;
    position: relative;
    transition: all ease 0.15s;
    vertical-align: top;
    width: 255px;

    &:hover {
        .contHeader {
            .icoInicial {
                left: 20px;
            }

            .icoAcciones {
                display: inline-block !important;
                left: 22px;
            }
        }
    }

    &--new {
        border-top: solid 0.5px #FCFCFC;

        .contAddNew {
            height: 100%;
            margin: 0 auto;
            position: absolute;
            top: 0;
            width: 100%;

            .icon-add {
                background-image: url('/ima/ico-new-20px.svg');
                background-repeat: no-repeat;
                background-size: 42px;
                height: 42px;
                position: absolute;
                opacity: 0.5;
                right: calc(50% - 21px);
                top: 41px;
                width: 42px;
            }

            .textAdd {
                color: #A5A4A6;
                font-size: 22px;
                letter-spacing: 0px;
                line-height: 29px;
                margin-top: 105px;
                opacity: 1;
                text-align: center;
                text-transform: uppercase;
            }

            .optionsAdd {
                color: #A5A4A6;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                line-height: 19px;
                margin-top: 10px;
                text-decoration: underline;
                user-select: none;
            }
        }
    }

    .contHeader {
        height: 40px;
        padding: .5rem;

        &__name {
            color: #C67B24;
            display: inline-block;
            font-size: 18px;
            left: 10px;
            line-height: 24px;
            max-width: calc(60% - 36px);
            position: absolute;
            overflow: hidden;
            text-align: initial;
            text-overflow: ellipsis;
            vertical-align: middle;
            white-space: nowrap;
            width: fit-content;
        }

        &__icon {
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            cursor: pointer;
            display: inline-block;
            height: 20px;
            left: 10px;
            position: relative;
            width: 20px;
        }

        .icoInicial {
            background-image: url('/ima/ico-position-20px.svg');

            &[initial="true"] {
                background-image: url('/ima/ico-position-gr-20px.svg');
            }
        }

        .icoAcciones {
            background-image: url('/ima/ico-masMenu-grey.svg');
        }

        &__duration {
            background-color: #AAD8FD;
            border-radius: 8px;
            display: inline-block;
            font-size: 13px;
            font-weight: lighter;
            right: 10px;
            line-height: 18px;
            max-width: calc(40% - 30px);
            padding: 4px;
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: fit-content;
        }
    }

    .contdata {
        height: calc(100% - 50px);
        padding: 0 .5rem .5rem;
        text-align: initial;

        ul {
            list-style-type: disc;
            padding-left: 1.5rem;
        }

        .dataCard {
            background-color: #C7F3EB;
            border-radius: 8px;
            font-size: 14px;
            line-height: 19px;
            max-width: calc(50% - .5rem);
            overflow: hidden;
            padding: 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: max-content;

            &--code {
                background-color: #F4D2AF;
                display: inline-block;
                margin-right: .5rem;
            }

            &__rol {
                height: 20px;
                margin-right: .3rem;
                width: 20px;
            }

            &--roles {
                background-color: #D2E1B5;
                display: inline-block;
                margin-right: .5rem;
            }
        }
    }

    .dvBotones {
        bottom: 0;
        position: absolute;
        right: 10px;

        .btnAccion {
            background-position: left;
            background-repeat: no-repeat;
            background-size: 20px;
            cursor: pointer;
            height: 30px;
            width: 30px;

            &--Edit {
                background-image: url('/ima/ico-edit-20px.svg');
            }

            &--Delete {
                background-image: url('/ima/ico-remove-20px.svg');
            }
        }
    }
}

.contWFCard {
    background-color: $blanco;
    border: solid 0.5px #FCFCFC;
    border-radius: 3px !important;
    box-shadow: 5px 5px 11px rgba(33,33,33,.2);
    display: inline-block;
    height: 157px;
    position: relative;
    transition: all ease 0.15s;
    vertical-align: top;
    width: 260px;

    .contAddNew {
        height: 100%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        width: 100%;

        &:hover {
            .icon-add {
                top: 16px;
                transition: all ease 0.15s;
            }

            .textAdd {
                margin-top: 75px;
                transition: all ease 0.15s;
            }

            .optionsAdd {
                display: inline-block !important;
                transition: all ease 0.15s;
            }
        }

        .icon-add {
            background-image: url('/ima/ico-new-20px.svg');
            background-repeat: no-repeat;
            background-size: 42px;
            height: 42px;
            position: absolute;
            opacity: 0.5;
            right: calc(50% - 21px);
            top: 41px;
            width: 42px;
        }

        .textAdd {
            color: #A5A4A6;
            font-size: 22px;
            letter-spacing: 0px;
            line-height: 29px;
            margin-top: 105px;
            opacity: 1;
            text-align: center;
            text-transform: uppercase;
        }

        .optionsAdd {
            color: #A5A4A6;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            line-height: 19px;
            margin-top: 10px;
            text-decoration: underline;
            user-select: none;
        }
    }

    &--data {
        border-left: solid 3px #144D7E;

        .contHeader {
            padding: .5rem;

            &__name {
                color: #144D7E;
                display: inline-block;
                font-size: 18px;
                line-height: 24px;
                margin-right: 18px;
                max-width: calc(100% - 82px);
                overflow: hidden;
                text-align: initial;
                text-overflow: ellipsis;
                vertical-align: middle;
                white-space: nowrap;
                width: calc(100% - 64px);
            }

            &__icon {
                display: inline-block;
                height: 32px;
                width: 32px;
            }
        }

        .contdata {
            height: calc(100% - 64px);
            padding: 0 .5rem .5rem;
            text-align: initial;

            .dataCard {
                background-color: #C7F3EB;
                border-radius: 8px;
                font-size: 14px;
                line-height: 19px;
                max-width: calc(50% - .5rem);
                overflow: hidden;
                padding: 4px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: max-content;

                &--code {
                    background-color: #F4D2AF;
                    display: inline-block;
                    margin-right: .5rem;
                }

                &--duration {
                    background-color: #AAD8FD;
                    display: inline-block;
                }

                &__rol {
                    height: 20px;
                    margin-right: .3rem;
                    width: 20px;
                }

                &--roles {
                    background-color: #D2E1B5;
                    display: inline-block;
                    margin-right: .5rem;
                }
            }

            .dvDescription {
                color: $blanco;
                display: -webkit-box;
                font-size: 12px;
                line-height: 21px;
                overflow: hidden;
                padding: 0 .5rem;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .dvBotones {
                bottom: 0;
                position: absolute;
                right: 10px;

                .btnAccion {
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    cursor: pointer;
                    height: 30px;
                    width: 30px;

                    &--Edit {
                        background-image: url('/ima/ico-edit-20px.svg');
                    }

                    &--Delete {
                        background-image: url('/ima/ico-remove-20px.svg');
                    }
                }
            }
        }

        &[public="true"] {
            .dataCard {
                &--roles {
                    background-color: #EBC0C7;
                }
            }
        }

        &:hover {
            background-color: #144D7E;
            border-color: #144D7E;

            .contHeader {
                padding: .5rem 1rem;

                &__name {
                    color: $blanco;
                    font-weight: 500;
                    max-width: 100%;
                    width: 100%;
                }

                &__icon {
                    display: none;
                }
            }

            .contdata {

                .dataCard {
                    display: none;
                }

                .hidden {
                    display: block !important;
                }

                .dvDescription {
                    display: -webkit-box !important;
                }

                .dvBotones {

                    div {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
}
