.bgColor {
  background-color: #f6f6f6; }

.x-grid-view {
  background-color: #FCFCFC; }

.x-title-text {
  color: #062743;
  font-family: roboto;
  font-weight: medium;
  font-size: 15px; }

.x-panel-header-default {
  background-color: transparent !important;
  border-color: none !important; }
  .x-panel-header-default .x-panel-header-default-horizontal {
    border-color: none !important; }

/*#region Renders*/
.progressBar {
  width: 100%;
  max-width: unset;
  border-radius: 25px; }
  .progressBar .bar {
    background-color: #58E5A9;
    color: #fff;
    height: 100%;
    border-radius: 25px; }

/*#endregion*/
.ctColsSel {
  width: calc(100% - 160px);
  margin: 20px 80px;
  height: 80px;
  border: solid 1px #D8D8D8;
  border-radius: 5px; }

.content100 div[id$="_Content"] {
  height: 100% !important; }

#ctColumns {
  position: relative;
  margin: 30px; }

.ctCol {
  display: inline-block;
  position: relative;
  width: 150px;
  margin-top: 15px;
  height: 40px;
  vertical-align: top; }
  .ctCol .lblNombre {
    margin-left: 25px;
    margin-top: 11.5px; }

.cmbItem {
  height: 55px;
  padding: 10px 15px; }
  .cmbItem .title {
    font-size: 13px;
    color: #6A6B75;
    margin-bottom: 0;
    font-weight: 500; }
  .cmbItem .subTitle {
    font-size: 11px;
    color: #6A6B75;
    margin-bottom: 0; }

.Hidden {
  display: none; }

.btnColumna {
  background-color: transparent;
  border: 0; }

.btnSave {
  background-color: #144D7E !important;
  border: 1px solid #144D7E;
  border-radius: 3px;
  border-radius: 17px !important;
  min-width: 22px;
  display: inline-block;
  margin: 0 !important;
  text-align: left !important;
  color: #fff !important; }
  .btnSave .x-btn-inner-default-small {
    /*font-family: $font-ppal;*/
    font-size: 14px;
    color: blanco !important; }
  .btnSave:hover {
    background-color: #0d3252 !important;
    border: 1px solid #0d3252; }
  .btnSave .x-btn-inner-default-toolbar-small {
    font: 400 12px/16px "Roboto", sans-serif !important;
    color: #fff !important;
    max-width: 50%;
    font-weight: bold !important; }
  .btnSave .x-btn-item-over, .btnSave:hover {
    background-color: #58E5A9 !important;
    font-size: 12px;
    border-color: #58E5A9 !important;
    transition: all ease 0.1s; }
    .btnSave .x-btn-item-over .x-btn-inner-default-toolbar-small, .btnSave:hover .x-btn-inner-default-toolbar-small {
      color: #144D7E !important;
      font-weight: 500 !important; }
  .btnSave .Hidden {
    display: block; }

.btnSecundary {
  background-color: white !important;
  border: 1px solid white;
  border-radius: 3px;
  border: 2px solid #1B3953;
  border-radius: 17px !important;
  color: #144D7E !important;
  display: inline-block;
  margin: 0 !important;
  min-width: 22px;
  text-align: left !important; }
  .btnSecundary .x-btn-inner-default-small {
    /*font-family: $font-ppal;*/
    font-size: 14px;
    color: #144D7E !important; }
  .btnSecundary:hover {
    background-color: #e6e6e6 !important;
    border: 1px solid #e6e6e6; }
  .btnSecundary .x-btn-inner-default-toolbar-small {
    color: #144D7E !important;
    font: 400 12px/16px "Roboto", sans-serif !important;
    font-weight: bold !important;
    max-width: 50%; }
  .btnSecundary .x-btn-item-over, .btnSecundary:hover {
    background-color: #58E5A9 !important;
    border-color: #58E5A9 !important;
    font-size: 12px;
    transition: all ease 0.1s; }
    .btnSecundary .x-btn-item-over .x-btn-inner-default-toolbar-small, .btnSecundary:hover .x-btn-inner-default-toolbar-small {
      color: #144D7E !important;
      font-weight: 500 !important; }
  .btnSecundary .Hidden {
    display: block; }

.btnMenuDes {
  background-image: url(/ima/ico-moveDown-white.svg) !important;
  background-size: 15px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 40px !important; }
  .btnMenuDes .x-btn-inner {
    display: none; }
  .btnMenuDes .x-btn-wrap-default-toolbar-small.x-btn-arrow-right:after {
    content: unset; }

.GuardarVista {
  border-radius: 20px 0px 0px 20px !important;
  min-width: 90px;
  min-length: 32px; }
  .GuardarVista .x-btn-inner {
    max-width: 75%; }

.OpcionesGuardarVista {
  border-radius: 0px 20px 20px 0px !important;
  min-width: 22px; }

.btnNoFiltros {
  margin: 12px 6px 0 !important; }

.tabbar-1022-innerCt {
  background-color: #F6F6F6; }

.gridGeneral {
  margin-top: 10px;
  background-color: #EDEDED !important; }
  .gridGeneral .x-grid-item:first-child {
    border-top: none !important;
    border-top: #EDEDED !important; }
  .gridGeneral .x-grid-cell-inner::before {
    border: unset !important;
    outline: unset !important;
    color: #424242 !important;
    font-weight: normal !important; }
  .gridGeneral .x-grid-item {
    border-spacing: 5px;
    margin-bottom: 5px;
    background-color: white;
    border-bottom-width: thin !important;
    border-bottom-color: #e9e9e9 !important; }
  .gridGeneral .x-grid-item-selected {
    border-left: 4px solid #144D7E !important; }
  .gridGeneral .x-grid-item-focused {
    border: unset; }
  .gridGeneral .x-grid-item-over {
    box-shadow: 5px 5px 11px rgba(33, 33, 33, 0.2);
    z-index: 99999;
    overflow: visible;
    font-size: 13px;
    font-weight: 500;
    transition: all ease 0.1s; }
    .gridGeneral .x-grid-item-over .Hidden {
      display: block; }
    .gridGeneral .x-grid-item-over td:first-child .x-grid-cell-inner {
      text-align: center;
      width: min-content;
      margin: 0 auto;
      left: -5px; }
  .gridGeneral .x-column-header {
    line-height: 20px !important;
    background-color: #fff;
    border-bottom-width: initial;
    border-bottom-color: black; }
  .gridGeneral .x-grid-body {
    margin-top: 10px;
    background-color: #f6f6f6;
    border-top: 0; }

.treeGridGeneral {
  font-family: roboto;
  font-weight: regular;
  color: #424242;
  border: solid 2px #d0d0d0 !important;
  background-color: white !important;
  border-top: solid !important; }
  .treeGridGeneral .x-grid-cell-inner::before {
    border: unset !important;
    outline: unset !important;
    color: #424242 !important;
    font-weight: normal !important; }
  .treeGridGeneral .x-panel-header {
    background-color: white !important;
    border-top: thin !important;
    border-color: #062743 !important;
    border-left: thin !important;
    border-right: thin !important; }
  .treeGridGeneral .x-title-item {
    background-color: white !important;
    font-family: roboto; }
  .treeGridGeneral .x-border-box {
    border: solid 1px #d0d0d0; }
  .treeGridGeneral .x-grid-item {
    border-bottom: solid 0.25px #d0d0d0; }
    .treeGridGeneral .x-grid-item .x-tree-icon.x-tree-icon-leaf::before {
      content: unset !important; }
    .treeGridGeneral .x-grid-item .x-grid-item-focused {
      color: #06A086 !important;
      font-weight: bold; }
    .treeGridGeneral .x-grid-item.x-grid-item-selected {
      font-family: roboto !important;
      font-weight: bold;
      color: #06A086 !important;
      background-color: transparent !important; }
  .treeGridGeneral .errorNode {
    position: relative; }
    .treeGridGeneral .errorNode .x-grid-cell-inner::before {
      position: absolute;
      content: "";
      right: 10px;
      background-image: url(/ima/ico-incidence-20px.svg);
      top: 14px;
      display: block;
      background-size: 20px;
      width: 20px;
      height: 20px;
      left: unset; }

.headerTitle {
  background-color: #FCFCFC;
  border-top-width: 4px !important;
  border-color: #144D7E; }
  .headerTitle .headerText {
    font-weight: bold;
    color: #144D7E; }

.menuCabecera {
  background-color: #FCFCFC; }

.pnDetail .x-grid-body {
  border-width: 0 !important; }

.pnDetail .x-grid-item {
  background-color: #fff; }

.pnDetail .x-grid-with-row-lines .x-grid-item:last-child {
  border-bottom-width: 0px; }

.pnDetail .x-grid-with-row-lines .x-grid-item.x-grid-item-selected {
  border-style: solid;
  border-color: #fff; }

.pnDetail .x-grid-cell-inner {
  padding: 0; }

.pnDetail .x-grid-item-focused .x-grid-cell-inner::before {
  border: 1px solid #fff; }

.pnDetail .tmpCol-table {
  width: 100%; }

.pnDetail .tmpCol-tr {
  height: 52px; }

.pnDetail .tmpCol-td {
  padding: .5rem 1rem;
  border-bottom: 1px solid #EDEDED; }

.pnDetail .alg-center {
  text-align: center; }

.pnDetail .lblGrd {
  font-size: 12px;
  color: #6A6B75; }

.pnDetail .dataGrd {
  font-size: 14px;
  color: #3a3a40;
  display: block; }

.pnDetail .col-3 {
  width: 33%; }

.pnDetail .userImg {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #3B8FD9;
  color: #fff;
  margin-right: .3rem;
  border-radius: 20px;
  padding: 9px 10px; }

.pnDetail .userName {
  font-size: 15px;
  font-weight: 700; }

.pnDetail .userProfile {
  font-size: 12px;
  margin-top: -2px; }

.pnDetail table {
  width: 100%; }

.pnDetail .titleAcor {
  color: #144D7E;
  font-size: 1.5em;
  margin-left: 15px; }

.pnDetail .x-item-selected {
  outline: none !important; }

.pnDetail .cntSubSecc {
  margin-left: 10px;
  margin-top: 10px; }
  .pnDetail .cntSubSecc .titleAcorSubSecc {
    color: #144D7E;
    font-size: 1.2em;
    margin-left: 15px; }

.dataModel {
  font-family: Roboto;
  font-weight: bold;
  color: #06A086;
  margin-left: 14px !important; }

.titleContract {
  font-family: Roboto;
  font-weight: bold;
  font-size: 13px;
  height: 24px;
  border-bottom: 3px solid #144D7E;
  pointer-events: none;
  color: #9999A1;
  text-transform: uppercase;
  line-height: 20px; }

.dataModel {
  font-family: Roboto;
  font-weight: bold;
  color: #144D7E;
  margin-bottom: 15px !important;
  position: absolute;
  top: 0 !important; }

.settingsColumns {
  font-family: Roboto;
  font-weight: bold;
  color: #144D7E; }

.btnAddcontent {
  background-color: transparent !important;
  font-family: roboto;
  display: block;
  border: none;
  text-decoration: underline !important; }
  .btnAddcontent:hover {
    border: none;
    display: block; }
  .btnAddcontent .x-btn-inner {
    color: #144D7E !important; }

.formulario {
  color: #144D7E !important;
  font-weight: bold !important;
  color: #144D7E !important; }

.descripcion {
  color: #144D7E !important; }

.car {
  color: #144D7E !important;
  font-weight: bold !important;
  color: #144D7E !important; }

.bottomline {
  border-top: solid 0.5px #888888 !important; }

/*#region CARDS*/
.btnRolFilter {
  background-color: #f6f6f6;
  border: none;
  border-radius: 25px;
  width: 30px; }
  .btnRolFilter .x-btn-inner {
    color: #3a3a40;
    font-size: 14px !important;
    font-weight: 300 !important;
    padding: 0; }
  .btnRolFilter[aria-pressed="true"] .x-btn-inner {
    color: #FCFCFC; }

.iconTag {
  display: inline-block;
  border-radius: 25px;
  width: 20px;
  height: 20px;
  color: white;
  font-family: roboto;
  margin: 0 2px;
  cursor: default;
  text-align: center; }
  .iconTag[activo="false"] {
    display: none; }
  .iconTag span {
    top: 1px;
    position: relative; }
  .iconTag p {
    margin-top: -4px;
    font-size: 14px !important;
    font-weight: 300 !important; }

.iconRed {
  background-color: #C03F53;
  display: inline-block; }

.iconBlue {
  background-color: #0D3E71; }

.iconGreen {
  background-color: #06A086; }

.iconOrange {
  background-color: #EEA652; }

.viewCardsCont {
  overflow-y: auto; }
  .viewCardsCont [id*="_Content"] {
    height: 100%; }
    .viewCardsCont [id*="_Content"] .containerStyle {
      height: fit-content !important; }

.containerStyle {
  font-family: Roboto;
  background-color: #f6f6f6;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  height: 100%; }
  .containerStyle .contCard {
    background-color: #fff;
    display: inline-block;
    width: 400px;
    height: 250px;
    margin: 50px;
    border: solid 0.5px #FCFCFC;
    box-shadow: 5px 5px 11px rgba(33, 33, 33, 0.2);
    vertical-align: top;
    position: relative;
    transition: all ease 0.15s;
    border-radius: 4px !important; }
    .containerStyle .contCard:hover {
      box-shadow: 1px 0px 5px 5px rgba(20, 77, 126, 0.75); }
    .containerStyle .contCard .contAddNew {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      top: 0;
      position: absolute; }
      .containerStyle .contCard .contAddNew:hover .icon-add {
        opacity: 1; }
      .containerStyle .contCard .contAddNew .icon-add {
        position: absolute;
        right: calc(50% - 30px);
        top: 85px;
        width: 46px;
        height: 46px;
        opacity: 0.5; }
        .containerStyle .contCard .contAddNew .icon-add:before, .containerStyle .contCard .contAddNew .icon-add:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 46px;
          width: 5px;
          background-color: #144D7E; }
        .containerStyle .contCard .contAddNew .icon-add:before {
          transform: rotate(0deg); }
        .containerStyle .contCard .contAddNew .icon-add:after {
          transform: rotate(90deg); }
      .containerStyle .contCard .contAddNew .textAdd {
        color: #144D7E;
        font: normal normal bold 18px/24px Roboto;
        letter-spacing: 0px;
        margin-top: 150px;
        opacity: 1;
        text-align: center;
        text-transform: uppercase; }
    .containerStyle .contCard .lineStyle {
      height: 0;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 15px;
      border: solid 1px #f6f6f6 !important;
      border-radius: 50px;
      background-color: #f6f6f6; }
    .containerStyle .contCard .contHeader {
      padding: 46px 16px 6px !important;
      font-family: roboto;
      margin-bottom: 5px !important;
      margin-top: -13px !important;
      position: relative;
      height: 85px; }
      .containerStyle .contCard .contHeader .elemHeader {
        text-align: left;
        margin-bottom: -19px !important;
        margin-top: -8px !important; }
        .containerStyle .contCard .contHeader .elemHeader .headerSecond {
          display: inline-block;
          vertical-align: top; }
          .containerStyle .contCard .contHeader .elemHeader .headerSecond .itemCardTitle {
            font-size: 18px !important;
            font-weight: bold !important;
            margin-left: 13px !important;
            margin-top: 5px !important;
            max-width: 140px !important;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 20px;
            white-space: nowrap;
            display: inline-block; }
          .containerStyle .contCard .contHeader .elemHeader .headerSecond .SL {
            position: relative;
            top: -4px; }
          .containerStyle .contCard .contHeader .elemHeader .headerSecond .itemCardSubTitle {
            font-size: 15px !important;
            font-weight: regular !important;
            margin-left: 13px !important;
            color: grey; }
          .containerStyle .contCard .contHeader .elemHeader .headerSecond .itemDataCode {
            font-size: 15px !important;
            font-weight: regular !important;
            margin-left: 13px !important;
            margin-top: 5px !important;
            color: grey; }
        .containerStyle .contCard .contHeader .elemHeader .compannyImage {
          width: 44px;
          height: 44px;
          display: inline-block;
          vertical-align: top; }
        .containerStyle .contCard .contHeader .elemHeader .dvCompanyLogo {
          border: solid 1px #f6f6f6;
          border-radius: 44px;
          width: 44px;
          height: 44px;
          display: inline-block;
          text-align: center; }
          .containerStyle .contCard .contHeader .elemHeader .dvCompanyLogo .textCompanyLogo {
            font-size: 25px !important;
            font-weight: bold !important;
            color: #144D7E;
            width: 44px;
            height: 44px;
            user-select: none;
            vertical-align: -webkit-baseline-middle;
            margin-top: 5px; }
      .containerStyle .contCard .contHeader .smallIconsHeader {
        width: max-content;
        height: 20px;
        position: absolute;
        top: 45px;
        right: 20px; }
        .containerStyle .contCard .contHeader .smallIconsHeader .iconTag {
          display: inline-block;
          border-radius: 25px;
          width: 20px;
          height: 20px;
          color: white;
          font-family: roboto;
          margin: 0 2.5px;
          cursor: default; }
          .containerStyle .contCard .contHeader .smallIconsHeader .iconTag[activo="false"] {
            display: none; }
          .containerStyle .contCard .contHeader .smallIconsHeader .iconTag span {
            top: 2px;
            position: relative; }
        .containerStyle .contCard .contHeader .smallIconsHeader .iconRed {
          background-color: #C03F53;
          display: inline-block; }
        .containerStyle .contCard .contHeader .smallIconsHeader .iconBlue {
          background-color: #0D3E71; }
        .containerStyle .contCard .contHeader .smallIconsHeader .iconGreen {
          background-color: #06A086; }
        .containerStyle .contCard .contHeader .smallIconsHeader .iconOrange {
          background-color: #EEA652; }
    .containerStyle .contCard .contDetails {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - .5rem));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      padding: 16px !important;
      font-size: 12px;
      font-family: roboto; }
      .containerStyle .contCard .contDetails .iconText {
        display: inline-block;
        width: 125px;
        text-align: left;
        margin-left: 12px;
        top: -4px;
        position: relative; }
      .containerStyle .contCard .contDetails .iconDetail {
        display: inline-block;
        width: 20px;
        height: 20px; }
      .containerStyle .contCard .contDetails .iconSpanPhone {
        margin-left: 20px !important; }
      .containerStyle .contCard .contDetails .iconSpanEmail {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        max-width: 300px !important; }
    .containerStyle .contCard .defaultCard {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
      background-image: url(/ima/ico-default-card.svg);
      background-repeat: no-repeat;
      z-index: 10; }
      .containerStyle .contCard .defaultCard[default="true"] {
        background-image: url(/ima/ico-default-card-yw.svg);
        display: block !important; }

.cardMultiSelect {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center; }
  .cardMultiSelect .contCard {
    border: solid 1px #BCBCBC;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 265px;
    height: 105px;
    margin: 1rem 1.5rem;
    padding: 0 1.5rem;
    position: relative;
    border-radius: 4px !important; }
    .cardMultiSelect .contCard[activo="true"] {
      border: solid 2px #144D7E; }
      .cardMultiSelect .contCard[activo="true"] .checkCard div {
        width: 8px;
        height: 8px;
        background-color: #04A086;
        border-radius: 8px; }
    .cardMultiSelect .contCard .checkCard {
      width: 14px;
      height: 14px;
      position: absolute;
      left: 5px;
      top: 5px;
      background-color: #fff;
      border: solid 1px #134B80;
      border-radius: 14px;
      padding: 2px; }
    .cardMultiSelect .contCard .nameCard {
      margin: auto;
      color: #144D7E;
      font-weight: bold;
      line-height: 105px;
      text-align: center;
      vertical-align: middle;
      user-select: none; }
    .cardMultiSelect .contCard .defaultCard {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 5px;
      top: 5px;
      background-image: url(/ima/ico-default-card.svg);
      background-repeat: no-repeat; }
      .cardMultiSelect .contCard .defaultCard[default="true"] {
        background-image: url(/ima/ico-default-card-yw.svg); }

.cardFormCheck {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center; }
  .cardFormCheck .contCardCheck {
    border: solid 1px #BCBCBC;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 1rem;
    padding: 0 1rem;
    position: relative; }
    .cardFormCheck .contCardCheck[activo="true"] .checkCard div {
      width: 8px;
      height: 8px;
      background-color: #04A086;
      border-radius: 8px; }
    .cardFormCheck .contCardCheck[activo="true"][code="Owner"] {
      background-color: #B6D5F1 !important; }
    .cardFormCheck .contCardCheck[activo="true"][code="Supplier"] {
      background-color: #ECC0C7 !important; }
    .cardFormCheck .contCardCheck[activo="true"][code="Customer"] {
      background-color: #C6F3EB !important; }
    .cardFormCheck .contCardCheck[activo="true"][code="Payee"] {
      background-color: #FFF0DF !important; }
    .cardFormCheck .contCardCheck .checkCard {
      width: 14px;
      height: 14px;
      position: absolute;
      left: 5px;
      top: 5px;
      background-color: #fff;
      border: solid 1px #134B80;
      border-radius: 14px;
      padding: 2px; }
    .cardFormCheck .contCardCheck .nameCard {
      margin: auto;
      font-weight: bold;
      line-height: 105px;
      text-align: center;
      vertical-align: middle;
      user-select: none; }
      .cardFormCheck .contCardCheck .nameCard[code="Owner"] {
        color: #144D7E; }
      .cardFormCheck .contCardCheck .nameCard[code="Supplier"] {
        color: #C55768; }
      .cardFormCheck .contCardCheck .nameCard[code="Customer"] {
        color: #26AA93; }
      .cardFormCheck .contCardCheck .nameCard[code="Payee"] {
        color: #ECAF67; }

/*#endregion*/
/*#region Form*/
.pnLateralForm {
  background-color: #fff;
  border: solid 1px #EDEDED; }
  .pnLateralForm .panelTitle {
    color: #6A6B75;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.22px;
    line-height: 16px;
    opacity: 1;
    text-align: left; }
  .pnLateralForm .seccion .x-header {
    background-color: #fff !important; }
  .pnLateralForm .seccion .x-title-text {
    background-color: #fff;
    color: #134F7C !important;
    font: normal normal bold 14px/24px Roboto !important;
    letter-spacing: 0px;
    opacity: 1;
    text-align: left; }
  .pnLateralForm .seccion .lbTitleWF {
    color: #6C6D77;
    display: block;
    height: fit-content;
    font: normal normal bold 22px/29px Roboto;
    margin-bottom: .8rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; }
  .pnLateralForm .seccion .lbDescriptionWF {
    color: #2E2F33;
    display: block;
    height: fit-content;
    font: normal normal normal 15px/21px Roboto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; }
  .pnLateralForm .seccion .lbTitleRoles {
    color: #6A6B75;
    font: normal normal bold 12px/16px Roboto;
    margin-bottom: .5rem; }

.pnForm {
  border: 1px solid #D8D8D8;
  border-radius: 2.5px;
  margin: 2.5px; }
  .pnForm .x-toolbar-default {
    border-width: 0; }
  .pnForm .x-panel-body {
    background-color: #FCFCFC; }
  .pnForm .ctForm {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2.5px;
    background-color: #FCFCFC;
    border: 1px solid #BEBEBE !important;
    padding: 15px 50px 30px 50px;
    width: 90%; }
    .pnForm .ctForm .x-header {
      background-color: #FCFCFC !important; }
      .pnForm .ctForm .x-header .x-title-text {
        color: #062743 !important;
        font-size: 18px;
        font-weight: bold; }
      .pnForm .ctForm .x-header div {
        background-color: inherit !important; }
    .pnForm .ctForm .x-form-item {
      position: relative;
      width: 500px;
      margin: 0 auto;
      margin-top: 15px; }
      .pnForm .ctForm .x-form-item div {
        overflow: visible; }
      .pnForm .ctForm .x-form-item .x-form-item-body {
        max-width: 300px !important;
        min-width: 300px !important;
        width: 300px !important; }
      .pnForm .ctForm .x-form-item .x-form-text {
        font-size: 13px;
        color: #6A6B75;
        font-weight: 500; }
    .pnForm .ctForm .lblForm {
      color: #062743 !important;
      font-size: 15px;
      font-weight: bold; }
  .pnForm .containerStyle {
    font-family: Roboto;
    background-color: #f6f6f6;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%; }
    .pnForm .containerStyle .contCard {
      background-color: #fff;
      display: inline-block;
      width: 400px;
      height: 250px;
      margin: 50px;
      border: solid 0.5px #FCFCFC;
      box-shadow: 5px 5px 11px rgba(33, 33, 33, 0.2);
      vertical-align: top;
      position: relative;
      transition: all ease 0.15s;
      border-radius: 4px !important;
      /*
            &:hover {
                background-color: #144D7E !important;
                color: #FCFCFC !important;
            }*/ }
      .pnForm .containerStyle .contCard:hover {
        box-shadow: 1px 0px 5px 5px rgba(20, 77, 126, 0.75); }
        .pnForm .containerStyle .contCard:hover .Hidden {
          display: inline-block; }
      .pnForm .containerStyle .contCard .btnAcciones {
        position: absolute;
        right: 5px;
        bottom: 3px;
        height: 25px;
        width: max-content;
        /*.btnPaye {
                    background-image: url(/ima/ico-group.svg);
                }
*/ }
        .pnForm .containerStyle .contCard .btnAcciones .btnEdit {
          background-image: url(/ima/ico-editar.svg); }
        .pnForm .containerStyle .contCard .btnAcciones .btnDelete {
          background-image: url(/ima/ico-trash.svg); }
        .pnForm .containerStyle .contCard .btnAcciones div {
          background-position: center;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
          margin-right: 5px; }
    .pnForm .containerStyle .contAddNew {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      top: 0;
      position: absolute;
      border-radius: 5px !important; }
      .pnForm .containerStyle .contAddNew .icon-add {
        opacity: 1; }
    .pnForm .containerStyle .icon-add {
      position: absolute;
      right: calc(50% - 30px);
      top: 85px;
      width: 46px;
      height: 46px;
      opacity: 0.5; }
      .pnForm .containerStyle .icon-add:before, .pnForm .containerStyle .icon-add:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 46px;
        width: 5px;
        background-color: #144D7E; }
      .pnForm .containerStyle .icon-add:before {
        transform: rotate(0deg); }
      .pnForm .containerStyle .icon-add:after {
        transform: rotate(90deg); }
    .pnForm .containerStyle .textAdd {
      margin-top: 150px;
      text-align: center;
      font: normal normal bold 18px/24px Roboto;
      letter-spacing: 0px;
      color: #144D7E;
      opacity: 1;
      text-transform: uppercase; }
  .pnForm .contHeader {
    padding: 46px 16px 6px 16px !important;
    font-family: roboto;
    margin-bottom: 5px !important;
    margin-top: -13px !important;
    position: relative;
    height: 85px;
    text-align: left; }
    .pnForm .contHeader .imgTitle {
      width: 40px;
      display: inline-block;
      vertical-align: middle; }
    .pnForm .contHeader .itemCardTitle {
      display: inline-block;
      text-align: center;
      font: normal normal bold 18px/24px Roboto;
      letter-spacing: 0px;
      color: #144D7E;
      text-transform: uppercase;
      vertical-align: middle;
      margin-bottom: 0;
      margin-left: 20px; }
  .pnForm .contDetails {
    text-align: left;
    padding: 16px 16px 16px 16px !important;
    font-size: 12px;
    font-family: roboto; }
    .pnForm .contDetails .lineStyle {
      height: 0;
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 15px;
      border: solid 1px #f6f6f6 !important;
      border-radius: 50px;
      background-color: #f6f6f6; }
    .pnForm .contDetails .iconText {
      display: inline-block;
      width: 100%;
      text-align: left;
      margin-left: 12px;
      top: -4px;
      position: relative; }
  .pnForm .disabledInput {
    opacity: 0.6; }
    .pnForm .disabledInput .x-form-trigger-wrap-default {
      border: none; }
      .pnForm .disabledInput .x-form-trigger-wrap-default input {
        background-color: #FCFCFC; }
  .pnForm .required .x-form-item-label:before {
    position: absolute;
    content: "";
    left: -5px;
    background-image: url(/ima/ico_exclamacion-10px-grey.svg);
    top: 7px;
    display: block;
    background-size: 10px;
    width: 10px;
    height: 10px; }
  .pnForm .required[invalid='true'] .x-form-item-label:before {
    background-image: url(/ima/ico_exclamacion-10px-red.svg); }
  .pnForm .newCheckbox .x-form-field {
    width: 30px !important;
    height: 30px !important; }
    .pnForm .newCheckbox .x-form-field::before {
      content: unset !important; }
    .pnForm .newCheckbox .x-form-field .x-form-cb-input {
      position: absolute;
      width: 1em;
      height: 1em;
      color: #363839;
      border: 2px solid #d8d8d8;
      border-radius: 4px;
      appearance: none;
      background-color: #fff;
      outline: 0;
      cursor: pointer;
      top: 15px;
      margin-top: -0.75em;
      transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
      opacity: 1; }
      .pnForm .newCheckbox .x-form-field .x-form-cb-input::before {
        position: absolute;
        content: "";
        display: block;
        top: 0.4px;
        left: 4.75px;
        width: 6px;
        height: 10px;
        border-style: solid;
        border-color: #06a086;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        opacity: 0; }
      .pnForm .newCheckbox .x-form-field .x-form-cb-input:checked {
        color: #06A086;
        border-color: #06A086;
        background: #fff; }
        .pnForm .newCheckbox .x-form-field .x-form-cb-input:checked::before {
          opacity: 1; }
  .pnForm .tbFlotante {
    position: fixed !important;
    margin: 0 auto;
    width: 100vw !important;
    background-color: transparent !important;
    z-index: 1;
    overflow: visible !important;
    padding: 0px 35px; }
    .pnForm .tbFlotante .x-box-inner, .pnForm .tbFlotante .x-box-target {
      width: 100% !important;
      height: 0 !important;
      text-align: right;
      overflow: visible !important; }
    .pnForm .tbFlotante .x-btn {
      position: relative !important;
      z-index: 1;
      left: unset !important;
      top: unset !important; }
  .pnForm .backgroundGrey {
    background-color: #f6f6f6 !important;
    border-bottom-width: 4px;
    border-bottom-color: black; }

/*#endregion*/
.renderActivo {
  color: #06A086 !important;
  background-image: url("/ima/ico-active-20px.svg");
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: none;
  padding-left: 30px;
  display: inline-block;
  height: 27px;
  padding-top: 20px;
  background-size: 20px; }

.renderNoActivo {
  color: #06A086 !important;
  background-image: url("/ima/ico-active-noselect20px.svg");
  background-repeat: no-repeat;
  background-position: left center;
  text-decoration: none;
  padding-left: 30px;
  display: inline-block;
  height: 27px;
  padding-top: 20px;
  background-size: 20px; }

.styleContainerGrid {
  background-color: #f6f6f6;
  font-family: Roboto;
  height: 100%;
  margin: 0 auto;
  /*max-width: 1500px;*/
  text-align: center; }
  .styleContainerGrid .contWFCard {
    margin: 25px; }
  .styleContainerGrid .contStatusCard {
    margin: 25px; }

.contStatusCard {
  background-color: #fff;
  border: solid 0.5px #FCFCFC;
  border-radius: 3px !important;
  border-top: solid 3px #C67B24;
  box-shadow: 5px 5px 11px rgba(33, 33, 33, 0.2);
  display: inline-block;
  height: 184px;
  position: relative;
  transition: all ease 0.15s;
  vertical-align: top;
  width: 255px; }
  .contStatusCard:hover .contHeader .icoInicial {
    left: 20px; }
  .contStatusCard:hover .contHeader .icoAcciones {
    display: inline-block !important;
    left: 22px; }
  .contStatusCard--new {
    border-top: solid 0.5px #FCFCFC; }
    .contStatusCard--new .contAddNew {
      height: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      width: 100%; }
      .contStatusCard--new .contAddNew .icon-add {
        background-image: url("/ima/ico-new-20px.svg");
        background-repeat: no-repeat;
        background-size: 42px;
        height: 42px;
        position: absolute;
        opacity: 0.5;
        right: calc(50% - 21px);
        top: 41px;
        width: 42px; }
      .contStatusCard--new .contAddNew .textAdd {
        color: #A5A4A6;
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 29px;
        margin-top: 105px;
        opacity: 1;
        text-align: center;
        text-transform: uppercase; }
      .contStatusCard--new .contAddNew .optionsAdd {
        color: #A5A4A6;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        line-height: 19px;
        margin-top: 10px;
        text-decoration: underline;
        user-select: none; }
  .contStatusCard .contHeader {
    height: 40px;
    padding: .5rem; }
    .contStatusCard .contHeader__name {
      color: #C67B24;
      display: inline-block;
      font-size: 18px;
      left: 10px;
      line-height: 24px;
      max-width: calc(60% - 36px);
      position: absolute;
      overflow: hidden;
      text-align: initial;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      width: fit-content; }
    .contStatusCard .contHeader__icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      left: 10px;
      position: relative;
      width: 20px; }
    .contStatusCard .contHeader .icoInicial {
      background-image: url("/ima/ico-position-20px.svg"); }
      .contStatusCard .contHeader .icoInicial[initial="true"] {
        background-image: url("/ima/ico-position-gr-20px.svg"); }
    .contStatusCard .contHeader .icoAcciones {
      background-image: url("/ima/ico-masMenu-grey.svg"); }
    .contStatusCard .contHeader__duration {
      background-color: #AAD8FD;
      border-radius: 8px;
      display: inline-block;
      font-size: 13px;
      font-weight: lighter;
      right: 10px;
      line-height: 18px;
      max-width: calc(40% - 30px);
      padding: 4px;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: fit-content; }
  .contStatusCard .contdata {
    height: calc(100% - 50px);
    padding: 0 .5rem .5rem;
    text-align: initial; }
    .contStatusCard .contdata ul {
      list-style-type: disc;
      padding-left: 1.5rem; }
    .contStatusCard .contdata .dataCard {
      background-color: #C7F3EB;
      border-radius: 8px;
      font-size: 14px;
      line-height: 19px;
      max-width: calc(50% - .5rem);
      overflow: hidden;
      padding: 4px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: max-content; }
      .contStatusCard .contdata .dataCard--code {
        background-color: #F4D2AF;
        display: inline-block;
        margin-right: .5rem; }
      .contStatusCard .contdata .dataCard__rol {
        height: 20px;
        margin-right: .3rem;
        width: 20px; }
      .contStatusCard .contdata .dataCard--roles {
        background-color: #D2E1B5;
        display: inline-block;
        margin-right: .5rem; }
  .contStatusCard .dvBotones {
    bottom: 0;
    position: absolute;
    right: 10px; }
    .contStatusCard .dvBotones .btnAccion {
      background-position: left;
      background-repeat: no-repeat;
      background-size: 20px;
      cursor: pointer;
      height: 30px;
      width: 30px; }
      .contStatusCard .dvBotones .btnAccion--Edit {
        background-image: url("/ima/ico-edit-20px.svg"); }
      .contStatusCard .dvBotones .btnAccion--Delete {
        background-image: url("/ima/ico-remove-20px.svg"); }

.contWFCard {
  background-color: #fff;
  border: solid 0.5px #FCFCFC;
  border-radius: 3px !important;
  box-shadow: 5px 5px 11px rgba(33, 33, 33, 0.2);
  display: inline-block;
  height: 157px;
  position: relative;
  transition: all ease 0.15s;
  vertical-align: top;
  width: 260px; }
  .contWFCard .contAddNew {
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%; }
    .contWFCard .contAddNew:hover .icon-add {
      top: 16px;
      transition: all ease 0.15s; }
    .contWFCard .contAddNew:hover .textAdd {
      margin-top: 75px;
      transition: all ease 0.15s; }
    .contWFCard .contAddNew:hover .optionsAdd {
      display: inline-block !important;
      transition: all ease 0.15s; }
    .contWFCard .contAddNew .icon-add {
      background-image: url("/ima/ico-new-20px.svg");
      background-repeat: no-repeat;
      background-size: 42px;
      height: 42px;
      position: absolute;
      opacity: 0.5;
      right: calc(50% - 21px);
      top: 41px;
      width: 42px; }
    .contWFCard .contAddNew .textAdd {
      color: #A5A4A6;
      font-size: 22px;
      letter-spacing: 0px;
      line-height: 29px;
      margin-top: 105px;
      opacity: 1;
      text-align: center;
      text-transform: uppercase; }
    .contWFCard .contAddNew .optionsAdd {
      color: #A5A4A6;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      line-height: 19px;
      margin-top: 10px;
      text-decoration: underline;
      user-select: none; }
  .contWFCard--data {
    border-left: solid 3px #144D7E; }
    .contWFCard--data .contHeader {
      padding: .5rem; }
      .contWFCard--data .contHeader__name {
        color: #144D7E;
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        margin-right: 18px;
        max-width: calc(100% - 82px);
        overflow: hidden;
        text-align: initial;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: calc(100% - 64px); }
      .contWFCard--data .contHeader__icon {
        display: inline-block;
        height: 32px;
        width: 32px; }
    .contWFCard--data .contdata {
      height: calc(100% - 64px);
      padding: 0 .5rem .5rem;
      text-align: initial; }
      .contWFCard--data .contdata .dataCard {
        background-color: #C7F3EB;
        border-radius: 8px;
        font-size: 14px;
        line-height: 19px;
        max-width: calc(50% - .5rem);
        overflow: hidden;
        padding: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: max-content; }
        .contWFCard--data .contdata .dataCard--code {
          background-color: #F4D2AF;
          display: inline-block;
          margin-right: .5rem; }
        .contWFCard--data .contdata .dataCard--duration {
          background-color: #AAD8FD;
          display: inline-block; }
        .contWFCard--data .contdata .dataCard__rol {
          height: 20px;
          margin-right: .3rem;
          width: 20px; }
        .contWFCard--data .contdata .dataCard--roles {
          background-color: #D2E1B5;
          display: inline-block;
          margin-right: .5rem; }
      .contWFCard--data .contdata .dvDescription {
        color: #fff;
        display: -webkit-box;
        font-size: 12px;
        line-height: 21px;
        overflow: hidden;
        padding: 0 .5rem;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; }
      .contWFCard--data .contdata .dvBotones {
        bottom: 0;
        position: absolute;
        right: 10px; }
        .contWFCard--data .contdata .dvBotones .btnAccion {
          background-position: left;
          background-repeat: no-repeat;
          background-size: 20px;
          cursor: pointer;
          height: 30px;
          width: 30px; }
          .contWFCard--data .contdata .dvBotones .btnAccion--Edit {
            background-image: url("/ima/ico-edit-20px.svg"); }
          .contWFCard--data .contdata .dvBotones .btnAccion--Delete {
            background-image: url("/ima/ico-remove-20px.svg"); }
    .contWFCard--data[public="true"] .dataCard--roles {
      background-color: #EBC0C7; }
    .contWFCard--data:hover {
      background-color: #144D7E;
      border-color: #144D7E; }
      .contWFCard--data:hover .contHeader {
        padding: .5rem 1rem; }
        .contWFCard--data:hover .contHeader__name {
          color: #fff;
          font-weight: 500;
          max-width: 100%;
          width: 100%; }
        .contWFCard--data:hover .contHeader__icon {
          display: none; }
      .contWFCard--data:hover .contdata .dataCard {
        display: none; }
      .contWFCard--data:hover .contdata .hidden {
        display: block !important; }
      .contWFCard--data:hover .contdata .dvDescription {
        display: -webkit-box !important; }
      .contWFCard--data:hover .contdata .dvBotones div {
        display: inline-block !important; }
