$font-ppal: 'Roboto', sans-serif;

$colBg: #f6f6f6;
$colPpal: #06A086;
$colSec: #6A6B75;

$Gris1: #EDEDED;
$Gris2: #D8D8D8;
$Gris3: #C6c6c6;
$Gris4: #9999A1;
$GrisNegro: #3a3a40;

$Verde1: #C4FFDD;
$Verde2: #58E5A9;
$Verde3: #1B4734;
$Verde4: #93D8B5;
$BrVerde: #D0F0E0;
$BgVerde: #F2FDF7;

$TurquesaOsc: #1c5471;
$AzulOsc: #113A5D;
$AzulNegro: #062743;
$AzulClaro: #E4F0F8;

$Negro: #212121;
$Rojo: #EF5970;
$Rojo2: #E03F57;
$Amarillo: #F7BB74;
$Amarillo4: #FFD9AA;
$Amarillo2: #EF8B15;
$Amarillo3: #FFF4D3;
$Amarillo4: #FFFDF4;
$Azul: #3B8FD9;
$blanco: #fff;


$Marron: #74450D ;

$Gris1Fondo: #f6f6f6;

$alto-componente: 2.2rem;
