#hugeCtDefault {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center; }

#ctDefault {
  position: fixed;
  top: 56px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start; }

#asideLeft {
  width: 240px;
  background-color: #fff;
  flex-grow: 0;
  flex-shrink: 0;
  transition: width ease-out 0.3s; }

#centerDefault {
  width: 100%;
  flex-grow: 1; }

#tabPpal-bodyWrap > div {
  width: 100% !important;
  height: calc(100% - 44px) !important; }
  #tabPpal-bodyWrap > div .x-panel-body-default {
    background-color: #f6f6f6; }

.tabPnl .x-tabpanel-child .x-panel-bodyWrap .x-panel-body-closable {
  width: 100% !important;
  height: 100% !important; }

.tabPnl-Hide #tabPpal-bodyWrap > div {
  width: 100% !important;
  height: 100% !important; }
  .tabPnl-Hide #tabPpal-bodyWrap > div .x-panel-body-default {
    background-color: #f6f6f6; }

#tabPpal {
  width: 100%;
  height: 100% !important;
  clear: right; }
  #tabPpal iframe {
    width: 100% !important;
    height: 90% !important; }

@media screen and (min-height: 1024px) {
  #tabPpal iframe {
    height: 94% !important; } }

@media screen and (min-height: 1024px) {
  #tabPpal iframe {
    height: 94% !important; } }

@media screen and (max-height: 550px) {
  #tabPpal iframe {
    height: 85% !important; } }

#btnNoAside {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../ima/btn-moveLeft.svg);
  background-size: 20px;
  float: right;
  margin-top: 40px;
  transition: all .5s ease-out; }

#btnNoHeader {
  position: absolute;
  right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../ima/btn-moveTop.svg);
  background-size: 20px;
  z-index: 9;
  transition: all .5s ease-out; }

.x-keyboard-mode .x-btn-focus.x-btn-default-small {
  border-color: rgba(255, 255, 255, 0);
  box-shadow: none; }

#lblModNoHeader {
  display: none;
  position: absolute;
  right: 40px;
  top: 6px;
  z-index: 9;
  font-size: 14px;
  font-weight: 500;
  color: #6A6B75; }

.tabPnl {
  margin-left: 0; }

.cliente {
  margin-top: 4rem;
  height: 90px;
  transition: height .5s ease-out; }

.nombreCliente {
  color: #9999A1;
  display: block;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: .5rem; }

.info-entorno {
  height: 50px;
  display: flex;
  flex-direction: column;
  z-index: 99;
  margin-bottom: .4rem; }
  .info-entorno img {
    margin-left: 0; }

#lblVersion {
  display: block;
  margin-bottom: .5rem;
  margin-left: .5rem; }

#btnMasMenuAdm {
  display: none;
  background-image: url("../../ima/ico-masMenu.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 13px center; }

#tabPpal-bodyWrap > div:first-child {
  width: 100% !important;
  height: 44px !important; }

.tabPnl .x-tabpanel-child {
  height: 100% !important; }

