#login {
  margin: 6rem auto 10rem auto;
  width: 360px;
  vertical-align: middle; }

@media (max-width: 480px) {
  #login {
    width: 90%; } }

#logoLogin {
  margin: 0 auto;
  text-align: center;
  width: 18rem; }

#logoLogin img {
  width: 220px;
  margin-bottom: 1rem; }

#propuesta {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.8rem;
  margin-bottom: 2rem; }

#dvFormLogin {
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  padding: 2rem 2rem; }

#logoClienteLogin {
  text-align: center;
  margin: 0 auto 2rem auto; }

#logoClienteLogin img {
  width: 240px;
  margin: 0 auto .5rem auto;
  display: block; }

#btnLogin {
  float: right;
  font-family: "Roboto", sans-serif;
  max-width: 120px;
  margin-top: .6rem;
  margin-bottom: 2rem; }

@media (max-width: 480px) {
  #btnLogin {
    min-width: 100%; } }

#txtUserName {
  margin-bottom: 1rem;
  width: 100%; }

#txtPassword {
  width: 100%; }

#olvidado {
  text-align: center;
  margin-bottom: 3.5rem; }

#pieLogin {
  justify-content: space-between; }

#dvAyuda {
  margin-top: .5rem;
  margin-right: .5rem;
  float: right; }
  #dvAyuda a {
    font-weight: 400;
    color: #6A6B75; }
  #dvAyuda a:hover {
    color: #06A086; }
  #dvAyuda p {
    display: inline; }

@media (max-width: 480px) {
  #dvAyuda {
    margin-right: 1.5rem; } }

#mnuIdiomas .x-menu-item-text-default, #mnuDesarrollador .x-menu-item-text-default {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #6A6B75; }

#mnuIdiomas .x-menu-item-focus, #mnuDesarrollador .x-menu-item-focus {
  background-color: #EDEDED; }

#mnuIdiomas .x-menu-item-text-default.x-menu-item-indent-no-separator, #mnuDesarrollador .x-menu-item-text-default.x-menu-item-indent-no-separator {
  margin-left: 30px; }

#lblVersion {
  margin-top: 20px;
  position: relative;
  float: left;
  font-size: 8pt;
  margin-bottom: 5px;
  color: #C6c6c6;
  width: 100%; }

#lblEntorno {
  position: relative;
  float: left;
  font-size: 8pt;
  margin-bottom: 5px;
  color: #58E5A9;
  width: 100%; }
