.BigTlt {
  font-weight: bold;
  font-size: 60px; }
  .BigTlt span {
    padding-top: 70px !important; }

.nopadBtn {
  padding-right: 0px !important;
  position: unset !important;
  float: right; }

x-btn-inner .x-btn-inner-default-toolbar-small {
  font: 600 12px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important; }

.x-btn-inner {
  font-weight: 600 !important; }

#acptBOT {
  padding-right: 0px !important; }

.x-box-inner {
  background: #f6f6f6 !important; }

.x-toolbar-default {
  background: #f6f6f6 !important; }

.x-btn-icon-left > .x-btn-icon-el-default-toolbar-small,
.x-btn-icon-right > .x-btn-icon-el-default-toolbar-small {
  width: 22px !important; }

.SpanFloatR span {
  float: left !important; }

.ConfirmLbl {
  white-space: nowrap !important; }

.ctImage {
  border-radius: 75px;
  margin-bottom: 4rem; }

.ctImageProfile .x-autocontainer-innerCt {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: max-content; }

.ctAgregarImage .x-form-trigger {
  padding-top: 0;
  float: left; }

.ctAgregarImage .x-form-file-btn {
  background-color: #06a086 !important;
  border: 1px solid #06a086;
  border-radius: 3px;
  width: 150px; }
  .ctAgregarImage .x-form-file-btn:hover {
    background-color: #046f5d !important;
    border: 1px solid #046f5d; }
  .ctAgregarImage .x-form-file-btn .x-btn-pressed {
    border: none;
    border-color: #d2d2d2;
    background-image: none; }

.ctAgregarImage [id*="_Content"] {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-column-gap: 1.5rem; }

.ctAgregarImage .col-md-4 {
  width: 100% !important; }

.btnSave {
  font: 400 14px/16px "Roboto", sans-serif !important;
  color: #fff !important;
  padding: 0 5px;
  font-weight: bold !important;
  float: right; }
  .btnSave:hover {
    background-color: #046f5d !important;
    border: 1px solid #046f5d; }
