<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
	<styleBundle path="~/CSS/css">
		<include path="~/CSS/tCore.min.css?Version=*" />
		<include path="~/CSS/bootstrap-toaster.css" />
		<include path="~/CSS/fonts.googleapis.com.css.Roboto.css" />
	</styleBundle>
	
	<!--<styleBundle path="~/ModGlobal">
		<include path="~/ModGlobal/pages/css/*.css" />
	</styleBundle>-->

</bundles>