<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	
	<system.web>
		<!--
	  In the example below, the "Replace" transform will replace the entire 
	  <customErrors> section of your web.config file.
	  Note that because there is only one customErrors section under the 
	  <system.web> node, there is no need to use the "xdt:Locator" attribute.
	  
	  <customErrors defaultRedirect="GenericError.htm"
		mode="RemoteOnly" xdt:Transform="Replace">
		<error statusCode="500" redirect="InternalError.htm"/>
	  </customErrors>
	-->
	</system.web>
	<applicationSettings>
		<TreeCore.Properties.Settings>

			<setting name="Conexion" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>data source=atrebo2.ddns.net;initial catalog=treeolivobase;persist security info=true;user id=desarrollo;password=Atrebo.2021</value>
			</setting>

			<!--<setting name="Conexion" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>data source=MGH-DELL\SQLEXPRESS;initial catalog=TreeOlivoBase;persist security info=true;user id=miguelangel;password=Atrebo.2021</value>
			</setting>-->

			<!--<setting name="Conexion" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>Data Source=TREESQLTEST\SQLEXPRESS2017;Initial Catalog=TestPreTelenor17;Persist Security Info=True;User ID=Tree;Password=Atrebo.2021</value>
			</setting>-->

			<!--<setting name="Conexion" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>Data Source=Atrebo2.ddns.net;Initial Catalog=TreeOlivoPerformance;Persist Security Info=True;User ID=desarrollo;Password=Atrebo.2021</value>
			</setting>-->
			

			<setting name="Nombre_Entorno" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>Miguel Ángel Environment</value>
			</setting>
		</TreeCore.Properties.Settings>
	</applicationSettings>
</configuration>