/*#region New Layout Responsive */
#btnCollapseAsR {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 8px;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../ima/ico-moveLeft.svg");
  background-color: #D8D8D8;
  border-radius: 2px;
  transition: all 0.3s ease-out; }
  #btnCollapseAsR.x-btn-default-small {
    border-color: transparent; }

/*#region btn slider */
#ctBtnSldr {
  display: none;
  width: 96%;
  margin-bottom: .5rem; }

#ctBtnSldr-innerCt {
  float: right; }

#btnPrevSldr, #btnNextSldr {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #EDEDED !important;
  border-radius: 50px;
  display: inline-block; }
  #btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnPrevSldr:hover, #btnNextSldr:hover {
    background-color: #c3c3c3; }

#btnPrevSldr {
  margin-right: .3rem; }

#btnPrevSldr.x-btn-default-small, #btnNextSldr.x-btn-default-small {
  padding: 2px 2px 2px 2px; }

.btnMainSldr-dis {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: none; }

/*#endregion */
/*#region contenedores */
#ctHuge {
  width: 100%;
  /*.x-autocontainer-innerCt {
			display: flex;
			height: 100vh;
		}*/ }

#ctHuge-innerCt {
  display: flex; }

.col-total {
  width: 100%; }

.col-l {
  flex: 0 0 calc(60% - 1rem); }

.col-m {
  flex: 0 0 calc(40% - 1rem); }

.col-s {
  flex: 0 0 calc(20% - 1rem); }

.m-r {
  margin-right: 1rem; }

.m-l {
  margin-left: 1rem; }

@media (max-width: 991px) {
  .col-xl, .col-l, .col-m, .col-s {
    flex: 0 0 calc(50% - 1rem); } }

@media (max-width: 768px) {
  .col-xl, .col-l, .col-m, .col-s {
    flex: 0 0 calc(50% - 1rem); } }

@media (max-width: 576px) {
  .col-xl, .col-l, .col-m, .col-s {
    flex: 0 0 100%; } }

/*#endregion */
/*#region Aside Right panel lateral derecho */
#pnAsideR {
  position: fixed;
  width: 360px;
  top: 0;
  right: 0;
  margin-right: -360px;
  border-left: 1px solid #D8D8D8 !important;
  box-shadow: none;
  z-index: 9;
  transition: margin ease 0.3s; }

#pnAsideR-innerCt {
  height: 100vh !important;
  background-color: #f6f6f6; }

.lblHeadAside {
  display: block;
  color: #06A086;
  font-size: 12px;
  font-weight: 500; }

/*#endregion */
/*#endregion */
/*#region Estilos windows Modales */
.btnRed {
  background-color: #EF5970;
  border: 1px solid #EF5970; }

.btnRed:hover {
  background-color: #EF5970;
  opacity: .8 !important;
  border: 1px solid #EF5970; }

.winRed .x-window-header-default {
  background-color: #EF5970 !important;
  border-color: #EF5970 !important; }

.btnAlertaRed {
  margin-left: 2rem; }

.minW {
  min-width: 20px !important; }

.outputDisable textarea {
  font-size: 11px !important;
  color: #9999A1 !important; }

.ExitoLbl span {
  font-size: 22px !important;
  font-weight: bold !important; }

/*#endregion */
/*#region ESTILOS TITULO SUBTITULO TOOLBARS */
.big-lbl-title {
  font-size: 22px;
  font-weight: 900;
  position: absolute;
  padding-top: 0px;
  display: contents; }
  .big-lbl-title span {
    padding-top: 15px;
    max-width: 75%;
    display: block;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis; }

@media (max-width: 768px) {
  .big-lbl-title {
    font-size: 20px; } }

.subtitle-subcode {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 500;
  background: #FFD9AA;
  color: #74450D;
  border-radius: 2px !important;
  padding: .25rem .5rem; }
  .subtitle-subcode span {
    vertical-align: unset !important;
    padding-left: 2px !important;
    padding-right: 2px !important; }
  .subtitle-subcode .grdcustomscroll .x-scroller {
    -webkit-overflow-scrolling: touch;
    background: rebeccapurple; }

.ExpSubtitle {
  padding-bottom: 1.5rem;
  background-color: #f6f6f6; }

/*#endregion */
#ExpHeader .x-panel-body-default {
  background-color: #f6f6f6 !important;
  max-width: 650px; }

.ExpDescription {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center; }

.x-panel-bodyWrap h1 {
  text-align: center; }

.Expbox {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #D8D8D8 !important;
  border-radius: 3px;
  margin-top: 2rem;
  margin-right: 1%;
  margin-left: 1%;
  float: left;
  min-width: 200px;
  max-width: 300px; }

.ExtIcon {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 20px;
  width: 20px;
  margin-left: calc(50% - 10px); }

.ExpBoxDescription {
  font-size: 11px;
  font-weight: 300;
  color: #9999A1;
  line-height: .5em; }

#ctMain1 .btn-ppal {
  margin-top: 20px;
  margin-left: calc(50% - 60px) !important;
  margin-right: calc(50% - 60px) !important;
  float: left; }

.ExpTitleBox {
  text-align: center; }

.ctAsideR {
  margin-top: 1rem; }

#ctAsideR-innerCt {
  display: flex;
  justify-content: flex-start; }

#mnAsideR {
  flex: 0 0 40px;
  border-right: 1px solid #EDEDED !important; }

#mnAsideR-innerCt {
  height: 100vh; }

#pnGridsAsideR, #pnGridsAsideR2 {
  flex: 1 1 90%; }

.ExpSearch {
  margin-right: .5rem;
  margin-left: .5rem;
  margin-bottom: 0rem;
  margin-top: .2rem; }

.ExpSearchText {
  margin-left: .5rem;
  font-size: 12px;
  font-weight: 500;
  color: #9999A1; }

.liNot {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  padding: .8rem;
  border-radius: 3px;
  align-items: center;
  margin-bottom: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #EDEDED; }
  .liNot:hover .btnEdit-item {
    display: block; }

.chkNot {
  flex: 0 0 15%;
  margin-right: .8rem; }

.cntNot {
  flex: 1 0 70%;
  margin-right: .8rem; }

.btnEdit {
  flex: 0 0 15%; }

.titNot {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #3a3a40;
  margin-bottom: .4rem; }

.txtNot {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #3a3a40;
  margin-bottom: .4rem;
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis; }

.dateNot {
  position: relative;
  display: block;
  font-size: 11px;
  font-weight: 400;
  color: #6A6B75;
  margin-left: 12px; }

.version {
  position: relative;
  font-size: 11px;
  font-weight: 400;
  color: #6A6B75;
  margin-left: 12px; }

.dateNot:after {
  position: absolute;
  content: url("../../../ima/ico-calendar-min.svg");
  left: -12px;
  top: 1px; }

ul {
  padding-inline-start: 0px !important; }

.liVbox {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11px;
  font-weight: 400;
  background: #FFD9AA;
  color: #74450D;
  border-radius: 2px !important; }
  .liVbox span {
    vertical-align: unset !important;
    padding-left: 2px !important;
    padding-right: 2px !important; }
  .liVbox .grdcustomscroll .x-scroller {
    -webkit-overflow-scrolling: touch;
    background: rebeccapurple; }

.btnDelete-item {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-image: url("../../../ima/ico-trash.svg") !important;
  background-size: 16px;
  border-radius: 50%; }
  .btnDelete-item.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .btnDelete-item:hover {
    background-color: #c3c3c3; }
  .btnDelete-item:hover {
    background-image: url("../../../ima/ico-trash.svg");
    background-color: #EDEDED; }

.btnDownload-item {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-image: url("../../../ima/btn_download_grid.svg") !important;
  background-size: 16px;
  border-radius: 50%; }
  .btnDownload-item.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .btnDownload-item:hover {
    background-color: #c3c3c3; }
  .btnDownload-item:hover {
    background-image: url("../../../ima/btn_download_grid.svg");
    background-color: #EDEDED; }

.x-form-trigger-wrap {
  border: 1px solid #EDEDED;
  border-radius: 2px;
  margin-bottom: -4px; }

.ico-windows {
  margin-right: 15px !important;
  height: 100% !important;
  background-repeat: no-repeat;
  float: left;
  position: relative; }

.WindowsHeader {
  width: calc(100% - 40px); }

.big-lbl-title-window {
  font-size: 18px;
  font-weight: 900;
  padding-top: 0px; }
  .big-lbl-title-window span {
    white-space: normal;
    display: block; }

.WindowsSubtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em; }
  .WindowsSubtitle span {
    margin-top: 10px;
    white-space: normal;
    display: block; }

.WindowsHeader .btn-ppal {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: calc(100% - 120px) !important; }

.formtitle {
  font: 500 14px/16px "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: bold; }

#cmbTipe {
  padding: 10px; }
