.swagger-section #api_selector {
    display: none;
}
/*
.swagger-section #header #logo .logo__title {
    color: #404040;
}

.swagger-section #header {
    background-color: #58E5A9;
    padding: 9px 14px 19px 14px;
    height: 23px;
    min-width: 775px;
}*/