/*NEW SLIDER STYLES FOR SCALE, ETC*/

/* slider widget */

.ui-slider {
    text-decoration: none !important;
}

    .ui-slider .ui-slider-handle {
        overflow: visible !important;
    }

    .ui-slider .ui-slider-tooltip {
        display: none ;
    }

    .ui-slider .ui-state-hover .ui-slider-tooltip {
        display: block;
        position: absolute;
        bottom: 20px;
        text-align: center;
        padding: .2em;
        font-size: .9em;
        width: 9em;
        /*width: auto;*/
        margin-left: -4em;
    }

    .ui-slider a {
        text-decoration: none;
    }

    .ui-slider ol,
    .ui-slider li,
    .ui-slider dl,
    .ui-slider dd,
    .ui-slider dt {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .ui-slider ol,
    .ui-slider dl {
        position: relative;
        top: 1.3em;
        width: 100% !important;
    }

    .ui-slider dt {
        top: 1.5em;
        position: absolute;
        padding-top: .2em;
        text-align: center;
        border-bottom: 1px dotted #ddd;
        height: .7em;
        color: #999 !important;
    }

        .ui-slider dt span {
            background: #fff;
            padding: 0 .5em;
        }

    .ui-slider li,
    .ui-slider dd {
        position: absolute;
        overflow: visible;
        color: #666 !important;
    }

        .ui-slider li span.ui-slider-label,
        .ui-slider dd span.ui-slider-label {
            display: none !important;
        }

        .ui-slider li span.ui-slider-label-show,
        .ui-slider dd span.ui-slider-label-show {
            display: block;
        }

    .ui-slider span.ui-slider-tic {
        position: absolute;
        left: 0;
        height: .8em;
        top: -1.3em;
    }

    .ui-slider li span.ui-widget-content,
    .ui-slider dd span.ui-widget-content {
        border-right: 0;
        border-left-width: 1px;
        border-left-style: solid;
        border-top: 0;
        border-bottom: 0;
    }

    .ui-slider .first .ui-slider-tic,
    .ui-slider .last .ui-slider-tic {
        display: none;
    }

.slider {
    margin-bottom: 50px !important;
    width: 95% !important;
    float: left;
}

    .slider2.Orange {
        background: #e6a235 !important;
    }
    .slider2.Green {
        background: #1d8834 !important;
    }
    .slider2.Red {
        background: #e73737 !important;
    }

.slider-controller {
    padding-top: 0 !important;
}

    .slider-controller select {
        width: 100px !important;
    }

.ui-slider-handle.minimum,
a[data-temperature="minimum"],
.ui-slider-range.minimum {
    background: #a3e5f4 !important;
}

.ui-slider-handle.saving,
a[data-temperature="saving"],
.ui-slider-range.saving {
    background: #f2e079 !important;
}

.ui-slider-handle.comfort,
a[data-temperature="comfort"],
.ui-slider-range.comfort {
    background: #e6a235 !important;
}

.ui-slider-handle.Green,
a[data-temperature="Green"],
.ui-slider-range.Green {
    background: #1d8834 !important;
}

.ui-slider-handle.Orange,
a[data-temperature="Orange"],
.ui-slider-range.Orange {
    background: #e6a235 !important;
}

.ui-slider-handle.Red,
a[data-temperature="Red"],
.ui-slider-range.Red {
    background: #e73737 !important;
}

.temperature-Red {
    background-color: #e96223 !important;
    color: rgb(243, 12, 12) !important;
}

.temperature-Green {
    background-color: #239b55 !important;
}

.temperature-Orange {
    background-color: #f77235 !important;
    color: #fff !important;
}

.temperatures input {
    text-align: right !important;
}

.slider-tick-mark-main {
    display: inline-block;
    width: 1px;
    background: #bbb;
    height: 7px;
    position: absolute;
    top: 15px;
    font-size: 11px;
}

.slider-tick-mark-main-text {
    display: inline-block;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 25px;
    font-size: 11px;
    text-align: center;
    margin-left: -9px;
}

.slider-tick-mark-side {
    display: inline-block;
    width: 1px;
    background: #ccc;
    height: 5px;
    position: absolute;
    top: 15px;
}

.slider-tick-mark-side-text {
    display: inline-block;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 25px;
    font-size: 9px;
    text-align: center;
    margin-left: -9px;
}

.slider span.ui-slider-tooltip {
    width: auto !important;
}



