#vwInicio-innerCt {
  display: flex;
  justify-content: space-between;
  height: 100vh !important; }

#pnMainCt {
  padding: 1.5rem;
  flex: 1 0 800px; }
  #pnMainCt .x-panel-body {
    background-color: #f6f6f6; }

#pnBlkTop-innerCt {
  display: flex;
  justify-content: flex-start; }

#pnFav {
  height: 166px;
  width: 718px; }
  #pnFav .x-panel-body {
    background-color: #f6f6f6; }

@media only screen and (max-width: 1440px) {
  #pnFav {
    width: 718px; } }

@media only screen and (max-width: 940px) {
  #pnFav {
    width: 480px; } }

@media only screen and (max-width: 740px) {
  #pnFav {
    width: 480px; } }

#pnChart {
  margin-left: 1rem; }

/*#pnAsideR {
	position: relative;
	padding: 1rem .8rem;
	height: 100vh !important;
	width: 340px;
	flex: 0 0 340px;
	background-color: $Gris1;

	.x-panel-body {
		height: 100vh !important;
		background-color: $Gris1;
	}
}

@media only screen and (max-width: 1224px) {
	#pnMainCt {
		flex: 1 0 600px;
		}
		
		#pnAsideR {
			width: 280px;
		}
	}*/
.ctAsideR {
  margin-top: 1rem; }

#ctAsideR-innerCt {
  display: flex;
  justify-content: flex-start; }

#mnAsideR {
  flex: 0 0 40px;
  border-right: 1px solid #EDEDED !important; }

#mnAsideR-innerCt {
  height: 100vh; }

#pnGridsAsideR, #pnGridsAsideR2 {
  flex: 1 1 90%; }

.tlbGrdAsR {
  margin-top: 1rem;
  padding-left: .5rem; }

#frmEditNot .x-panel-body {
  background-color: #fff; }

#frmEditAlert .x-panel-body {
  background-color: #fff; }

/*#region Windows */
#cbGestFav {
  margin-bottom: 1rem;
  width: 100%; }

/*#endregion*/
#dvHeadFav {
  height: 25px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between; }

#lblMyFav {
  display: block;
  color: #06A086;
  font-weight: 700; }

#ctBtnFav {
  width: 50px; }

#btnPrev, #btnNext {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #EDEDED !important;
  border-radius: 50px;
  display: inline-block; }
  #btnPrev.x-btn-default-small, #btnNext.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #btnPrev:hover, #btnNext:hover {
    background-color: #c3c3c3; }
  #btnPrev:hover, #btnNext:hover {
    background-color: #dedede !important; }

#btnPrev {
  margin-right: .3rem; }

#btnPrev.x-btn-default-small, #btnNext.x-btn-default-small {
  padding: 2px 2px 2px 2px; }

#ulFav {
  padding-left: 0;
  height: 122px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  transition: margin ease-in-out .6s; }

.blkFavorite {
  width: 235px;
  margin-right: .3rem; }

.labelBlkFav {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: .2rem .8rem;
  margin-bottom: .1rem;
  display: block;
  background-color: #06A086;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.favSlider {
  background-color: #f6f6f6;
  width: 235px;
  padding: .2rem 0;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden; }
  .favSlider ul {
    padding: 0; }
  .favSlider .liCtSlide {
    transition: margin ease-in-out .6s; }
  .favSlider .ulSlide {
    margin-right: .5rem;
    display: grid;
    grid-template-columns: repeat(2, 235px);
    grid-template-rows: repeat(2, 30px);
    grid-row-gap: .2rem;
    grid-auto-flow: column; }

.starFav {
  display: none;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  background-image: url("../../../ima/ico-star-filled.svg");
  background-repeat: no-repeat; }
  .starFav.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .starFav:hover {
    background-color: #c3c3c3; }
  .starFav:hover {
    background-image: url("../../../ima/ico-star-filled.svg") !important; }

.liFav {
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  width: 235px;
  border: 1px solid #D8D8D8;
  border-radius: 2px; }
  .liFav:hover {
    background-color: #EDEDED;
    cursor: pointer;
    /*.starFav{
			display:block !important;
		}*/ }
  .liFav img {
    height: 20px; }

.liFav:last-child {
  margin-bottom: 0; }

.lnkFav {
  text-decoration: none;
  color: #3a3a40;
  font-size: 13px;
  font-weight: 700;
  margin-left: .5rem;
  align-self: center; }

.navDot {
  display: flex;
  width: max-content;
  margin: .5rem auto 0 auto;
  height: 20px; }
  .navDot .btnDot {
    margin-right: .3rem;
    border-radius: 50%;
    display: block;
    width: 8px;
    height: 8px;
    background-color: #D8D8D8;
    border: none;
    cursor: pointer; }
    .navDot .btnDot:hover {
      background-color: #046f5d;
      border-color: #046f5d; }
  .navDot .btnDot-activo {
    background-color: #06A086;
    border-color: #06A086;
    pointer-events: none;
    cursor: not-allowed; }

.navDot div:last-child a {
  margin-right: 0; }

.btnDot.x-btn-default-small {
  padding: 0 !important; }

#pnChart {
  width: 160px;
  background-color: #EDEDED; }

#dvChart {
  position: relative;
  height: 100px;
  width: 100px;
  margin: .4rem auto .4rem auto; }

#lblChart span {
  display: block;
  text-align: center;
  color: #06A086;
  font-weight: 700; }

span#percent {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  color: #3B8FD9; }

span#percent::after {
  content: '%'; }

#cmbModChart {
  width: 120px;
  margin: 0 auto; }
  #cmbModChart .x-form-text-wrap {
    height: 1.4rem !important; }
  #cmbModChart .x-form-text-default {
    height: 1.25rem !important;
    font: 300 11px/21px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    min-height: 1.25rem !important;
    padding-top: .3rem; }
  #cmbModChart .x-form-trigger-wrap {
    height: 1.4rem !important; }
  #cmbModChart .x-form-trigger-default {
    position: relative; }
  #cmbModChart .x-form-trigger-default:before {
    position: absolute;
    top: -5px;
    left: 5px; }

#headAsR {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px; }

#tlbNotifications, #tlbNotes {
  background-color: #fff; }

#lblHeadNotes {
  position: absolute;
  left: 0;
  top: 5px; }

#lblHeadNotif, #lblHeadNotes {
  font-weight: 700;
  color: #06A086; }

#btnNotes {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 99; }

#btnNotes, #btnNotif {
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #dddddd; }
  #btnNotes.x-btn-default-small, #btnNotif.x-btn-default-small {
    border-color: transparent; }
  #btnNotes:hover, #btnNotif:hover {
    background-color: #d0d0d0; }

#pnNotifications, #pnNotes, #pnAlerts {
  margin-top: 1.5rem; }

#tlbNotifications-targetEl, #tlbNotes-targetEl, #tlbNotifications2-targetEl {
  padding-right: .7rem; }

#ctnLnkNotif.x-box-item, #ctnLnkNotes.x-box-item {
  position: static !important; }

#ctnLnkNotif2.x-box-item, #ctnLnkNotes.x-box-item {
  position: static !important; }

#ctnLnkNotif, #ctnLnkNotif2, #ctnLnkNotes {
  float: right; }

.lnkNot {
  font-size: 11px;
  color: #9999A1; }
  .lnkNot:hover {
    color: #7e7e89; }

#lnkNoChecked, #lnkNoNoteChecked, #lnkNoChecked2, #lnkNoNoteChecked2 {
  margin-right: .5rem; }

#addNotific .x-btn-inner-default-toolbar-small, #addNote .x-btn-inner-default-toolbar-small {
  color: #fff; }

#addNotific2 .x-btn-inner-default-toolbar-small, #addNote .x-btn-inner-default-toolbar-small {
  color: #fff; }

#ulNotif, #ulNote {
  width: 100%;
  padding: 0; }

.btnEdit-item {
  display: none; }

.grdPnColIcons .ulGrid {
  padding: 1rem 0 .5rem 0;
  width: 75%;
  margin-bottom: 0 !important;
  align-self: center; }

.grdPnColIcons .ulGridCol2 {
  width: 25% !important;
  margin-left: 2rem;
  text-align: center; }
  .grdPnColIcons .ulGridCol2 li {
    display: contents !important; }
  .grdPnColIcons .ulGridCol2 li:last-child {
    float: right !important; }

.grdPnColIcons .ulGrid h5 {
  margin: 0; }

.grdPnColIcons .ctIcons {
  display: flex;
  margin-bottom: .5rem;
  margin-top: .5rem;
  justify-content: space-between; }
  .grdPnColIcons .ctIcons .icoGridItem {
    flex: 1 0 calc(33% - 0.2rem);
    margin-right: .5rem;
    align-self: center; }

.grdPnColIcons .ctIconSolo {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center; }

.grdPnColIcons .ulGrid .code {
  font-size: 10px;
  display: block;
  text-decoration: underline;
  margin-top: .5rem;
  color: #6A6B75; }

.grdIntoAside .x-grid-body {
  border-width: 0 !important; }

.grdIntoAside .x-grid-item {
  background-color: #fff; }

.grdIntoAside .x-grid-with-row-lines .x-grid-item:last-child {
  border-bottom-width: 0px; }

.grdIntoAside .x-grid-with-row-lines .x-grid-item.x-grid-item-selected {
  border-style: solid;
  border-color: #fff; }

.grdIntoAside .x-grid-cell-inner {
  padding: 0; }

.grdIntoAside .x-grid-item-focused .x-grid-cell-inner::before {
  border: 1px solid #fff; }

.grdIntoAside .tmpCol-table {
  width: 100%; }

.grdIntoAside .tmpCol-tr {
  height: 52px; }

.grdIntoAside .tmpCol-td {
  padding: .5rem 1rem;
  border-bottom: 1px solid #EDEDED; }

.grdIntoAside .alg-center {
  text-align: center; }

.grdIntoAside .lblGrd {
  font-size: 12px;
  color: #6A6B75; }

.grdIntoAside .dataGrd {
  font-size: 14px;
  color: #3a3a40;
  display: block; }

.grdIntoAside .col-3 {
  width: 33%; }

.grdIntoAside .userImg {
  display: block;
  width: 36px;
  height: 36px;
  background-color: #3B8FD9;
  color: #fff;
  margin-right: .3rem;
  border-radius: 20px;
  padding: 9px 10px; }

.grdIntoAside .userName {
  font-size: 15px;
  font-weight: 700; }

.grdIntoAside .userProfile {
  font-size: 12px;
  margin-top: -2px; }

.x-keyboard-mode .x-btn-focus.x-btn-default-small {
  border-color: #d4d4d4 !important;
  background-color: #d4d4d4 !important; }

.liNot {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  padding: .8rem;
  border-radius: 3px;
  align-items: center;
  margin-bottom: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #EDEDED; }
  .liNot:hover .btnEdit-item {
    display: block; }

.chkNot {
  flex: 0 0 15%;
  margin-right: .8rem; }

.cntNot {
  flex: 1 0 70%;
  margin-right: .8rem; }

.btnEdit {
  flex: 0 0 15%; }

.titNot {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #3a3a40;
  margin-bottom: .4rem; }

.txtNot {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #3a3a40;
  margin-bottom: .4rem;
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis; }

.dateNot {
  position: relative;
  display: block;
  font-size: 11px;
  font-weight: 400;
  color: #6A6B75;
  margin-left: 12px; }

.dateNot:after {
  position: absolute;
  content: url("../../../ima/ico-calendar-min.svg");
  left: -12px;
  top: 1px; }

.btnEdit-item {
  width: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-image: url("../../../ima/ico-edit-item.svg") !important;
  background-size: 16px;
  border-radius: 50%; }
  .btnEdit-item.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  .btnEdit-item:hover {
    background-color: #c3c3c3; }
  .btnEdit-item:hover {
    background-image: url("../../../ima/ico-edit-item.svg");
    background-color: #EDEDED; }

.RsideFORM {
  width: 100%; }

#frmEditNot-innerCt, #frmEditAlert-innerCt {
  padding: 1rem; }

#closeF {
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: transparent 0 1px 0 inset !important;
  background-color: #f6f6f6 !important;
  border-radius: 50%;
  float: right; }
  #closeF.x-btn-default-small {
    border-color: transparent;
    background-color: transparent; }
  #closeF:hover {
    background-color: #c3c3c3; }
  #closeF:hover {
    background-color: #e7e7e7 !important; }

#txtTitle, #txtTitleAlert {
  margin-top: 1rem; }

.x-btn-group-default-framed {
  border-color: transparent; }

#btnForm, #btnFormAlert {
  margin-top: 1rem;
  margin-right: 1.5rem; }

#btnForm-table, #btnFormAlert-table {
  float: right; }

.rpanelTitleForm {
  font-size: 14px;
  font-weight: 700;
  color: #3a3a40; }

#btnSave, #btnSaveAlert {
  min-width: 4rem; }
  #btnSave .x-btn-inner-default-toolbar-small, #btnSaveAlert .x-btn-inner-default-toolbar-small {
    color: #fff; }

#btnDelete, #btnDeleteAlert {
  min-width: 4rem; }

#FavoritosTemp {
  display: flex;
  width: 100%; }

#LinksContent {
  width: 50%; }

#TextContent {
  margin: 20px 0 0 20px;
  width: 50%; }

.LinkItem {
  display: flex;
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  margin-top: 10px; }

#LinksContent p {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #3a3a40; }

.LinkItemImg {
  margin: 5px; }

.LinkItemText {
  margin: 5px;
  width: calc(100% - 60px); }

.btndisabled {
  opacity: 0.5;
  pointer-events: none; }
